<section class="about-intro">
    <div class="about-intro__bg">
        <picture>
            <source srcset="/images/about-mobile.webp" media="(max-width: 576px)">
            <source srcset="/images/about-tablet.webp" media="(max-width: 768px)">
            <img src="/images/about.webp" alt="" class="about-intro__bg-image">
        </picture>
    </div>
    <div class="about-intro__content">
        <div class="about-intro__text-content">
            <h1 class="about-intro__heading">
                о нас
            </h1>
            <div class="about-intro__text">
                природа в каждом вдохе, комфорт в каждом касании
            </div>
        </div>
    </div>
</section>