<section class="about-other">
    <div class="about-other__content">
        <h2 class="about-other__heading">
            Всегда ищем <b>новое</b>
        </h2>
        <div class="about-other__text">
            Мы постоянно расширяем границы и создаём новые возможности для наших гостей, чтобы сделать банный отдых ещё
            комфортнее и быть там, где вам удобно.
        </div>
        <ul class="about-other__list">
            <li class="about-other__list-item">
                <div class="about-other__card">
                    <div class="about-other__card-bg">
                        <picture>
                            <source srcset="/images/about-other-1-mobile.webp" media="(max-width: 576px)">
                            <source srcset="/images/about-other-1-tablet.webp" media="(max-width: 768px)">
                            <img src="/images/about-other-1.webp" alt="" class="about-other__card-bg-image">
                        </picture>
                    </div>
                    <div class="about-other__card-content">
                        <img src="/images/about-other-logo.svg" alt="" class="about-other__card-logo">
                        <h2 class="about-other__card-heading">
                            КЕЙТЕРИНГ
                        </h2>
                        <div class="about-other__card-text">
                            Банный отдых у вас дома. Наши парильщики приедут в вашу баню и проведут полноценную
                            процедуру парения в различных техниках.
                        </div>
                        <a href="#" class="about-other__card-link">
                            Подробнее
                        </a>
                    </div>
                </div>
            </li>
            <li class="about-other__list-item">
                <div class="about-other__card">
                    <div class="about-other__card-bg">
                        <picture>
                            <source srcset="/images/about-other-2-mobile.webp" media="(max-width: 576px)">
                            <source srcset="/images/about-other-2-tablet.webp" media="(max-width: 768px)">
                            <img src="/images/about-other-2.webp" alt="" class="about-other__card-bg-image">
                        </picture>
                    </div>
                    <div class="about-other__card-content">
                        <img src="/images/about-other-logo.svg" alt="" class="about-other__card-logo">
                        <h2 class="about-other__card-heading">
                            МАГАЗИН
                        </h2>
                        <div class="about-other__card-text">
                            Заберите частичку Соломы с собой. Натуральные скрабы и мыло бельди, веники, ароматные травы
                            и варенья — всё, что наполнит дом атмосферой уюта и тепла.
                        </div>
                        <a href="#" class="about-other__card-link">
                            Каталог
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>