<section class="about-quote">
    <div class="about-quote__content">
        <img src="/images/about-quote-pattern.svg" alt="" class="about-quote__pattern">
        <div class="about-quote__card">

            <div class="about-quote__image-wrapper">


                <img src="/images/about-quote.webp" alt="" class="about-quote__image">
            </div>
            <div class="about-quote__wrapper">
                <div class="about-quote__text">
                    «Мы хотели сделать место, <em>где природа и&nbsp;традиции работают в гармонии с современными
                        технологиями.</em>
                    Так
                    родилась Солома — первая и&nbsp;самая большая в&nbsp;России баня из соломы»
                </div>
                <div class="about-quote__author">
                    <div class="about-quote__author-name">
                        <span>
                            ©
                        </span>
                        Тимур Крылов
                    </div>
                    <div class="about-quote__author-text">
                        Идейный вдохновитель, собственник Cолома Групп
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>