<section class="art">
    <div class="art__bg">
        <picture>
            <source srcset="/images/art-mobile.webp" media="(max-width: 576px)">
            <source srcset="/images/art-tablet.webp" media="(max-width: 768px)">
            <img src="/images/art.webp" alt="" class="art__bg-image">
        </picture>
    </div>
    <div class="art__content">
        <div class="art__slogan">
            <img src="/images/art-text.svg" alt="" class="art__slogan-text">
        </div>
        <div class="art__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="art__slider-card">
                            <h3 class="art__slider-card-title">
                                Индивидуальная программа
                            </h3>
                            <div class="art__slider-card-text">
                                Время, когда пространство Соломы принадлежит только вам. Вы сами выбираете удобный день
                                для неспешного отдыха.
                            </div>
                            <a href="#" class="art__slider-card-link">
                                Подробнее
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="art__slider-card">
                            <h3 class="art__slider-card-title">
                                Общественный женский день
                            </h3>
                            <div class="art__slider-card-text">
                                Возможность отвлечься от городской суеты в женской компании и опробовать услуги Соломы.
                            </div>
                            <a href="#" class="art__slider-card-link">
                                Подробнее
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>