<section class="become-part">
    <picture>
        <source srcset="/images/become-part-decor-mobile.svg" media="(max-width: 576px)">
        <source srcset="/images/become-part-decor-tablet.svg" media="(max-width: 768px)">
        <img src="/images/become-part-decor.svg" alt="" class="become-part__decor-image">
    </picture>
    <div class="become-part__content">
        <h2 class="become-part__heading">
            Почувствуйте магию
        </h2>
        <div class="become-part__subtitle">
            банного отдыха в женском клубе Соломы
        </div>
        <form action="/" method="POST" class="become-part__form js-form">
            <div class="become-part__form-fields">
                <div class="become-part__form-field">
                    <div class="become-part__form-input-wrapper">
                        <input type="text" class="become-part__form-input" name="your-name" placeholder="ФИО" required>
                    </div>
                </div>
                <div class="become-part__form-field">
                    <div class="become-part__form-input-wrapper">
                        <input type="tel" class="become-part__form-input" name="your-phone" placeholder="Телефон"
                            required>
                    </div>
                </div>
                <div class="become-part__form-field">
                    <div class="become-part__form-input-wrapper">
                        <input type="email" class="become-part__form-input" name="your-email" placeholder="E-mail"
                            required>
                    </div>
                </div>
                <div class="become-part__form-field">
                    <div class="become-part__form-input-wrapper">
                        <input type="text" class="become-part__form-input" name="your-city" placeholder="Город"
                            required>
                    </div>
                </div>
            </div>
            <div class="become-part__policy">
                <label class="become-part__policy-checkbox">
                    <input type="checkbox" name="policy" value="Y" class="become-part__policy-checkbox-input" required>
                    <span class="become-part__policy-checkbox-mark">

                    </span>
                    <span class="become-part__policy-checkbox-text">
                        Нажимая кнопку «Оставить заявку», я даю свое согласие на обработку персональных данных, в
                        соответствии с Федеральным законом от 27.07.2006 года №152-ФЗ «О персональных данных», на
                        условиях и для целей, определенных в Согласии на обработку персональных данных*
                    </span>
                </label>
            </div>
            <button class="become-part__submit" type="submit">
                Оставить заявку
            </button>

        </form>
    </div>
</section>