<section class="bonus">
    <img src="/images/bonus-pattern.svg" alt="" class="bonus__pattern-image">
    <div class="bonus__content">
        <div class="bonus__left">
            <div class="bonus__blocks">
                <div class="bonus__block">
                    <h3 class="bonus__block-title">
                        Бонусная система
                    </h3>
                    <ul class="bonus__block-list">
                        <li class="bonus__block-list-item">
                            Бонусные баллы действительны <b>12 месяцев</b>, затем обнуляются
                        </li>
                        <li class="bonus__block-list-item">
                            Чем выше депозит, тем больше бонусов —ими можно оплачивать <b>до 100% стоимости</b>
                            доп.услуг,
                            подарочных сертификатов, индивидуальных и общественных программ
                        </li>
                    </ul>
                </div>
                <div class="bonus__block">
                    <h3 class="bonus__block-title">
                        Дополнительные условия
                    </h3>
                    <ul class="bonus__block-list">
                        <li class="bonus__block-list-item">
                            <b>Сервисный сбор:</b> 25 000 ₽ при каждом пополнении счёта
                        </li>
                        <li class="bonus__block-list-item">
                            Клубная карта даёт удобный доступ к оплате и покупке подарочных сертификатов
                        </li>
                        <li class="bonus__block-list-item">
                            Депозит позволяет <b>бронировать банный комплекс без предоплаты</b> — сумма списывается
                            автоматически
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bonus__remark">
                *При внесении депозита начисляется <b>10% от суммы</b> в виде бонусов <b>(1 бонус = 1 рубль)</b>
            </div>
        </div>
        <div class="bonus__image-wrapper">
            <picture>
                <source srcset="/images/bonus-mobile.webp" media="(max-width: 576px)">
                <source srcset="/images/bonus-tablet.webp" media="(max-width: 768px)">
                <img src="/images/bonus.webp" alt="" class="bonus__image">
            </picture>
        </div>
    </div>
</section>