<section class="care">
    <div class="care__bg">

        <picture>
            <source srcset="/images/care-mobile.webp" media="(max-width: 576px)">
            <source srcset="/images/care-tablet.webp" media="(max-width: 768px)">
            <img src="/images/care.webp" alt="" class="care__bg-image">
        </picture>
    </div>
    <div class="care__content">
        <div class="care__title-wrapper">
            <div class="care__title-top">
                Наш главный<br> принцип —
            </div>
            <div class="care__title-middle">
                забота о вашем
            </div>
            <div class="care__title-bottom">
                комфорте
            </div>
        </div>

        <ul class="care__list care__list--right">
            <li class="care__list-item">
                Пространство с тёплым светом, ароматами трав и медитативными звуками живых инструментов для уединенности
                и неспешного отдыха
            </li>
            <li class="care__list-item">
                Авторские программы парения от лучших мастеров Татарстана
            </li>
            <li class="care__list-item">
                SPA-процедуры и чайные церемонии
            </li>
            <li class="care__list-item">
                Натуральные средства по уходу за кожей лица, тела и волос
            </li>
        </ul>
        <ul class="care__list care__list--left">
            <li class="care__list-item">
                Индивидуальные банные принадлежности из натуральных материалов
            </li>
            <li class="care__list-item">
                Авторская кухня на основе продуктов из местных фермерских и охотничьих хозяйств
            </li>
            <li class="care__list-item">
                Вместительная и удобная парковка
            </li>
        </ul>
    </div>
</section>