<section class="certificate-intro">
    <div class="certificate-intro__content">
        <div class="certificate-intro__gallery">
            <div class="certificate-intro__gallery-thumbs">
                <button class="certificate-intro__gallery-thumbs-arrow certificate-intro__gallery-thumbs-arrow--prev"
                    type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="12" viewBox="0 0 18 12">
                        <path
                            d="M8.82812 -0.000488281L8.95117 0.123535L9.07422 -0.000488281L17.8984 8.82471L15.3369 11.3862L8.95117 5.00049L2.56543 11.3862L0.00390625 8.82471L8.82812 -0.000488281Z" />
                    </svg>
                </button>
                <div class="certificate-intro__gallery-thumbs-wrapper">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="certificate-intro__gallery-thumbs-card">
                                    <img src="/images/certificate-intro/thumbs/1.webp" alt=""
                                        class="certificate-intro__gallery-thumbs-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="certificate-intro__gallery-thumbs-card">
                                    <img src="/images/certificate-intro/thumbs/2.webp" alt=""
                                        class="certificate-intro__gallery-thumbs-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="certificate-intro__gallery-thumbs-card">
                                    <img src="/images/certificate-intro/thumbs/3.webp" alt=""
                                        class="certificate-intro__gallery-thumbs-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="certificate-intro__gallery-thumbs-card">
                                    <img src="/images/certificate-intro/thumbs/1.webp" alt=""
                                        class="certificate-intro__gallery-thumbs-card-image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="certificate-intro__gallery-thumbs-arrow certificate-intro__gallery-thumbs-arrow--next"
                    type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="12" viewBox="0 0 18 12">
                        <path
                            d="M8.82422 11.3857L8.94727 11.2627L9.07031 11.3857L17.8945 2.56152L15.333 0L8.94727 6.38574L2.56152 0L0 2.56152L8.82422 11.3857Z" />
                    </svg>
                </button>
            </div>
            <div class="certificate-intro__gallery-main">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="certificate-intro__gallery-main-card">
                                <img src="/images/certificate-intro/gallery.webp" alt=""
                                    class="certificate-intro__gallery-main-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="certificate-intro__gallery-main-card">
                                <img src="/images/certificate-intro/gallery.webp" alt=""
                                    class="certificate-intro__gallery-main-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="certificate-intro__gallery-main-card">
                                <img src="/images/certificate-intro/gallery.webp" alt=""
                                    class="certificate-intro__gallery-main-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="certificate-intro__gallery-main-card">
                                <img src="/images/certificate-intro/gallery.webp" alt=""
                                    class="certificate-intro__gallery-main-card-image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="certificate-intro__text-content">
            <h1 class="certificate-intro__main-heading">
                Общественный женский день
            </h1>
            <div class="certificate-intro__desc">
                Идеальный подарок для девушки — это день, посвящённый её отдыху и гармонии. Сертификат в Солому подарит
                возможность расслабиться и насладиться атмосферой уюта в тёплой женской компании.
            </div>
            <div class="certificate-intro__duration">
                <h3 class="certificate-intro__duration-title">
                    Длительность программы
                </h3>
                <div class="certificate-intro__duration-text">
                    6 часов каждое воскресенье, 10:00 - 16:00
                </div>
            </div>
            <div class="certificate-intro__price">
                20 000 ₽
                <span class="certificate-intro__price-unit">
                    / чел
                </span>
            </div>
            <a href="#" class="certificate-intro__buy-link">
                Купить
            </a>
        </div>
    </div>
</section>