<section class="certificate-about">
    <div class="certificate-about__content">
        <div class="certificate-about__card">
            <div class="certificate-about__card-bg">
                <picture>
                    <source srcset="/images/certificate-about/bg-mobile.webp" media="(max-width: 576px)">
                    <source srcset="/images/certificate-about/bg-tablet.webp" media="(max-width: 768px)">
                    <img src="/images/certificate-about/bg.webp" alt="" class="certificate-about__card-bg-image">
                </picture>
            </div>
            <p>
                Приобрести интересные и полезные знакомства, проведя времясреди людей со схожим видением мира.
                Расслабиться и спрятаться от повседневной суеты, позволив телу и разуму отдохнуть.
            </p>
            <p>
                На территории комплекса могут находиться и другие гости. Вместимость — не более 10 человек.
            </p>
        </div>
        <div class="certificate-about__remark">
            *Товар обмену и возврату не подлежит. Если стоимость покупки превышает номинал сертификата, производится
            доплата, а номер сертификата аннулируется.В случае, когда стоимость покупки меньше номинала сертификата,
            разница между этими суммами не компенсируется. Срок действия сертификата — 3 месяца с момента покупки.
        </div>
    </div>
</section>