<section class="certificates">
    <div class="certificates__content">
        <h1 class="certificates__heading">
            Сертификаты
        </h1>
        <ul class="certificates__list">
            <li class="certificates__list-item">
                <div class="certificates__card">
                    <div class="certificates__card-image-container">
                        <div class="certificates__card-image-container-inner">

                        </div>
                        <img src="/images/certificates/1.webp" alt="" class="certificates__card-image">
                    </div>
                    <div class="certificates__card-price">
                        от 15 000 p
                    </div>
                    <div class="certificates__card-title">
                        Индивидуальная программа
                    </div>
                    <a href="#" class="certificates__card-link">
                        Купить
                    </a>
                </div>
            </li>
            <li class="certificates__list-item">
                <div class="certificates__card">
                    <div class="certificates__card-image-container">
                        <div class="certificates__card-image-container-inner">

                        </div>
                        <img src="/images/certificates/2.webp" alt="" class="certificates__card-image">
                    </div>
                    <div class="certificates__card-price">
                        от 20 000 p
                    </div>
                    <div class="certificates__card-title">
                        Общественный женский день
                    </div>
                    <a href="#" class="certificates__card-link">
                        Купить
                    </a>
                </div>
            </li>
            <li class="certificates__list-item">
                <div class="certificates__card">
                    <div class="certificates__card-image-container">
                        <div class="certificates__card-image-container-inner">
                            <img src="/images/certificates/3.webp" alt=""
                                class="certificates__card-image-container-inner-image">
                        </div>

                    </div>
                    <div class="certificates__card-price">
                        от 15 000 p
                    </div>
                    <div class="certificates__card-title">
                        Подарочный бокс Солома
                    </div>
                    <a href="#" class="certificates__card-link">
                        Купить
                    </a>
                </div>
            </li>
        </ul>
    </div>
</section>