<section class="certificate-features">
    <div class="certificate-features__content">
        <picture>

            <source srcset="/images/certificate-features/pattern-tablet.svg" media="(max-width: 768px)">
            <img src="/images/certificate-features/pattern.svg" alt="" class="certificate-features__image">
        </picture>
        <div class="certificate-features__wrapper">
            <ul class="certificate-features__list">
                <li class="certificate-features__list-item">
                    Общественный женский день — это комфортное пространство для общения<br> и новых знакомств в кругу
                    девушек со схожими взглядами и ценностями
                </li>
                <li class="certificate-features__list-item">
                    Три коллективных аромапрогрева, наполненных запахами<br> трав и звуками музыкальных инструментов
                </li>
                <li class="certificate-features__list-item">
                    Пользование всеми локациями комплекса<br> и всем необходимым для комфортного отдыха
                </li>
                <li class="certificate-features__list-item">
                    Обед от бренд-шефа Соломы, чайный стол на протяжении<br> всей программы с закусками на любой вкус
                </li>
                <li class="certificate-features__list-item">
                    Дарящий мягкость коже скраб или пенная помывка<br> с мылом бельди собственного производства
                </li>
            </ul>
        </div>
    </div>
</section>