<section class="choose">
    <div class="choose__content">
        <div class="choose__pin-wrapper">
            <div class="choose__pin-height">

            </div>
            <div class="choose__pin-inner">
                <div class="choose__text">
                    В Соломе 2 бани —
                    выберите ту, что вам по душе
                </div>
                <div class="choose__row">
                    <div class="choose__titles">
                        <div class="choose__title active">
                            ТИХАЯ
                        </div>
                        <div class="choose__title">
                            Дивная
                        </div>
                    </div>
                    <div class="choose__slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="choose__slider-card active">
                                        <div class="choose__slider-card-image-container">
                                            <img class="choose__slider-card-triangles" src="/images/triangles.svg"
                                                alt="">
                                            <div class="choose__slider-card-image-container-inner">


                                                <img class="choose__slider-card-image" src="/images/choose-1.webp"
                                                    alt="">
                                            </div>
                                            <div class="choose__slider-card-icon">
                                                <img src="images/choose-icon-1.svg" alt=""
                                                    class="choose__slider-card-icon-image">
                                            </div>
                                        </div>
                                        <div class="choose__slider-card-content">
                                            <div class="choose__slider-card-row">
                                                <h3 class="choose__slider-card-title">
                                                    ТИХАЯ
                                                </h3>
                                                <a href="#" class="choose__slider-card-link">
                                                    Подробнее
                                                </a>
                                            </div>
                                            <div class="choose__slider-card-text">
                                                Эстетичное пространство, в котором время замедляется, а душа обретает
                                                равновесие. Касание горячих листьев веника словно пробуждает тело к
                                                жизни, а
                                                густой обволакивающий пар приводитк состоянию абсолютного счастья и
                                                расслабления.
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="choose__slider-card">
                                        <div class="choose__slider-card-image-container">
                                            <img class="choose__slider-card-triangles" src="/images/triangles.svg"
                                                alt="">
                                            <div class="choose__slider-card-image-container-inner">

                                                <img class="choose__slider-card-image" src="/images/choose-2.webp"
                                                    alt="">
                                            </div>
                                            <div class="choose__slider-card-icon">
                                                <img src="images/choose-icon-2.svg" alt=""
                                                    class="choose__slider-card-icon-image">
                                            </div>
                                        </div>
                                        <div class="choose__slider-card-content">



                                            <div class="choose__slider-card-row">
                                                <h3 class="choose__slider-card-title">
                                                    Дивная
                                                </h3>
                                                <a href="#" class="choose__slider-card-link">
                                                    Подробнее
                                                </a>
                                            </div>
                                            <div class="choose__slider-card-text">
                                                Эстетичное пространство, в котором время замедляется, а душа обретает
                                                равновесие. Касание горячих листьев веника словно пробуждает тело к
                                                жизни, а
                                                густой обволакивающий пар приводитк состоянию абсолютного счастья и
                                                расслабления.
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>