<section class="climate">
    <div class="climate__content">
        <div class="climate__text-content">
            <h2 class="climate__title">
                Живой микроклимат, который&nbsp;<em>невозможно</em>
                <div class="climate__title-large">
                    повторить
                </div>
            </h2>
            <div class="climate__text">
                В&nbsp;отличие от&nbsp;традиционных бань, стены Соломы сделаны не&nbsp;из&nbsp;дерева,
                а&nbsp;из&nbsp;натуральной глины. Это позволяет
                им&nbsp;&laquo;дышать&raquo;, создавая естественную циркуляцию воздуха.
            </div>
            <div class="climate__text">
                Благодаря этому пар в&nbsp;бане становится мягкими обволакивающим, а&nbsp;отдых&nbsp;&mdash;
                по-настоящему целебным.
            </div>
        </div>
        <div class="climate__image-wrapper">
            <img src="/images/climate.webp" alt="" class="climate__image" />
        </div>
    </div>
</section>