<section class="community">
    <div class="community__content">
        <h2 class="community__heading">
            Как попасть в комьюнити?
        </h2>
        <div class="community__text">
            Чтобы стать частью женского клуба Соломы, достаточно просто посещать программу «Девичий пар» и получать
            привилегии.
        </div>
        <div class="community__wrapper">
            <div class="community__privilegies">
                <h3 class="community__privilegies-heading">
                    Уровни привилегий
                </h3>
                <ul class="community__privilegies-list">
                    <li class="community__privilegies-list-item">
                        <div class="community__privilegies-card">
                            <h4 class="community__privilegies-card-title">
                                БРОНЗА
                            </h4>
                            <ul class="community__privilegies-card-list">
                                <li class="community__privilegies-card-list-item">
                                    После первого посещения вы получите ссылку для регистрации в программе лояльности и
                                    2 000 приветственных бонусов
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="community__privilegies-list-item">
                        <div class="community__privilegies-card">
                            <h4 class="community__privilegies-card-title">
                                СЕРЕБРО
                            </h4>
                            <ul class="community__privilegies-card-list">
                                <li class="community__privilegies-card-list-item">
                                    Со второго посещения программы «Девичий пар» начисляется <b>кешбэк 7%</b>
                                </li>
                                <li class="community__privilegies-card-list-item">
                                    Если за полгода менее двух посещений — статус сгорает
                                </li>
                            </ul>
                            <div class="community__privilegies-card-remark">
                                Чтобы сохранить свой уровень в общей программе лояльности, нужно потратить не менее 50
                                тысяч рублей в течение полугода. Если условия не выполняются, уровень понижается.
                            </div>
                        </div>
                    </li>
                    <li class="community__privilegies-list-item">
                        <div class="community__privilegies-card">
                            <h4 class="community__privilegies-card-title">
                                ЗОЛОТО
                            </h4>
                            <ul class="community__privilegies-card-list">
                                <li class="community__privilegies-card-list-item">
                                    После трёх посещений — повышенный <b>кешбэк 10%</b>
                                </li>
                                <li class="community__privilegies-card-list-item">
                                    Если за полгода менее двух посещений — статус сгорает
                                </li>
                            </ul>
                            <div class="community__privilegies-card-remark">
                                Чтобы сохранить свой уровень в общей программе лояльности, нужно потратить не менее 50
                                тысяч рублей в течение полугода. Если условия не выполняются, уровень понижается.
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="community__bonus">
                <h3 class="community__bonus-title">
                    Дополнительный бонус
                </h3>
                <div class="community__bonus-card">
                    <div class="community__bonus-card-amount">
                        + 3 000 ₽
                    </div>
                    <div class="community__bonus-card-text">
                        кешбэком
                    </div>
                    <div class="community__bonus-card-desc">
                        за три посещения подряд в течение трёх месяцев
                    </div>
                </div>
            </div>
        </div>
        <div class="community__remark">
            <p>
                1 балл = 1 рубль
            </p>
            <p>
                *Бонусами можно оплатить до 30% стоимости программы «Девичий пар» и дополнительных услуг.
            </p>
            <p>
                **Бонусные баллы действуют 6 месяцев, затем обнуляются.
            </p>
        </div>
    </div>
</section>