<section class="contacts">
    <div class="contacts__bg-text">
        рекви<br>зиты
    </div>
    <div class="contacts__content">
        <div class="contacts__left-top-wrapper">
            <div class="contacts__full-name">
                <div class="contacts__full-name-title">
                    Полное наименование
                </div>
                <div class="contacts__full-name-text">
                    Индивидуальный предприниматель<br> Крылова Екатерина Николаевна
                </div>
            </div>
            <div class="contacts__short-name">
                <div class="contacts__short-name-title">
                    Сокращенное наименование
                </div>
                <div class="contacts__short-name-text">
                    ИП Крылова Е.Н.
                </div>
            </div>
        </div>
        <div class="contacts__inn">
            <div class="contacts__inn-title">
                ИНН
            </div>
            <div class="contacts__inn-text">
                65714499699
            </div>
        </div>
        <div class="contacts__ogrnip">
            <div class="contacts__ogrnip-title">
                огрнип
            </div>
            <div class="contacts__ogrnip-text">
                321169000216732
            </div>
        </div>

        <a href="#" class="contacts__copy">
            <div class="contacts__copy-icon">
                <img src="/images/copy-pattern.svg" alt="">
            </div>
            <div class="contacts__copy-text">
                нажми сюда, чтобы скопировать все реквизиты в буфер обмена
            </div>
        </a>
        <div class="contacts__left-bottom-wrapper">
            <div class="contacts__address">
                <div class="contacts__address-title">
                    Адрес
                </div>
                <div class="contacts__address-text">
                    Республика Татарстан, г. Казань,<br> п. Лесная Поляна, ул. Маковая 10Д
                </div>
            </div>
            <div class="contacts__phone">
                <a href="tel:+78435580162" class="contacts__phone-link">+7 843 558-01-62</a>
                <div class="contacts__phone-title">
                    Телефон, факс
                </div>
            </div>
        </div>
        <div class="contacts__right-bottom-wrapper">
            <a href="#" class="contacts__email">
                info@soloma.group
            </a>
            <div class="contacts__company-title">
                soloma.group
            </div>
            <div class="contacts__requisites">
                БИК 042202824<br>Р/с №40802810429370001784 ФИЛИАЛ«НИЖЕГОРОДСКИЙ»&nbsp;АО«АЛЬФА-БАНК»,<br>Кор/счет
                30101810200000000824
            </div>
        </div>
    </div>
</section>