<section class="divnaya-included">
    <div class="divnaya-included__content">
        <img src="/images/divnaya-included-pattern.svg" alt="" class="divnaya-included__pattern">

        <h2 class="divnaya-included__heading">
            <span>В стоимость</span>
            <span>
                каждой программы
            </span>
            <span>
                включено
            </span>
        </h2>


        <div class="divnaya-included__wrapper">
            <div class="divnaya-included__romboid">
                <img src="/images/divnaya-romboid.webp" alt="" class="divnaya-included__romboid-image">
            </div>
            <ul class="divnaya-included__list">
                <li class="divnaya-included__list-item">
                    <div class="divnaya-included__card">
                        <div class="divnaya-included__card-title">
                            Пользование всеми локациями комплекса
                        </div>
                        <div class="divnaya-included__card-text">
                            Глиняная коллективная парная, хаммам, купель с ледяной водой и ароматный чан с видом на
                            хвойный лес.
                        </div>
                    </div>
                </li>
                <li class="divnaya-included__list-item">
                    <div class="divnaya-included__card">
                        <div class="divnaya-included__card-title">
                            Банные принадлежности
                        </div>
                        <div class="divnaya-included__card-text">
                            Халат, полотенца и простыни из натурального льна, тапочки и наши уникальные шапки.
                        </div>
                    </div>
                </li>
                <li class="divnaya-included__list-item">
                    <div class="divnaya-included__card">
                        <div class="divnaya-included__card-title">
                            Органические средства по уходу за лицом, телом и волосами
                        </div>
                        <div class="divnaya-included__card-text">
                            от бренда 22|11 cosmetics.
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>