<section class="detail-intro">
    <div class="detail-intro__bg">
        <picture>
            <source srcset="/images/divnaya-bg-mobile.webp" media="(max-width: 576px)">
            <source srcset="/images/divnaya-bg-tablet.webp" media="(max-width: 768px)">
            <img src="/images/divnaya-bg.webp" alt="" class="detail-intro__bg-image">
        </picture>
    </div>
    <div class="detail-intro__content">
        <div class="detail-intro__links">
            <a href="#" class="detail-intro__link">
                тихая
            </a>
            <span class="detail-intro__divider">
                |
            </span>
            <a href="#" class="detail-intro__link active">
                дивная
            </a>
        </div>
        <div class="detail-intro__btns">
            <a href="#callback-modal" class="detail-intro__book-btn">
                Забронировать
            </a>
            <a href="#" class="detail-intro__programs-link">
                Программы
            </a>
        </div>
        <img src="/images/divnaya.svg" alt="" class="detail-intro__image">
        <div class="detail-intro__text">
            Живое русское таинство, в котором исчезает всё лишнее.<br> Здесь банный жар очищает до глубины души, а мысли
            растворяются в завораживающих ритмах бубна и вибрациях варгана.
        </div>
    </div>
</section>