<section class="esthetics">
    <div class="esthetics__content">
        <div class="esthetics__row">
            <div class="esthetics__image-wrapper">
                <img src="/images/esthetics.webp" alt="" class="esthetics__image">
            </div>
            <div class="esthetics__text-content">
                <h2 class="esthetics__heading">
                    НОВАЯ<br><em> эстетика</em>

                </h2>
                <div class="esthetics__symbols-row">
                    <img src="/images/esthetics-symbols.svg" alt="" class="esthetics__symbols-image">
                    <div class="esthetics__symbols-text">
                        банного бытия
                    </div>
                </div>
                <div class="esthetics__text">
                    Солома — это концептуальный банный комплекс, где можно вдохнуть спокойствие и насладиться моментом
                    здесь и сейчас. Уникальная саманная баня, SPA-зоны и авторские техники парения перезагружают не
                    только тело, но и душу.
                </div>
            </div>
        </div>
    </div>
</section>