<section class="event">
    <div class="event__content">
        <div class="event__heading">
            события
        </div>
        <div class="event__info">
            <div class="event__tags">
                <div class="event__tag">
                    Новые услуги
                </div>
            </div>
            <div class="event__date">
                12 августа 2025
            </div>
        </div>
        <div class="event__row">
            <div class="event__image-container">
                <img src="/images/event.webp" alt="" class="event__image">
            </div>
            <div class="event__text-content">

                <div class="event__text">
                    <h1>
                        Разговор о самом главном в бане с диетологом-нутрициологом
                    </h1>
                    <p>
                        Оказавшись здесь, вы становитесь участником и наблюдателем откровенной беседы с экспертом.
                    </p>
                    <p>
                        Мы приглашаем эксперта, выбираем тему, а вы можете задать любой интересующий вопрос, не
                        отрываясь от любимых банных процедур.
                    </p>
                    <h2>
                        Наш первый эксперт - Анна Артемьева.
                    </h2>
                    <p>
                        Банная просветительница всея Руси и не только. Ведет самый популярный банный блог страны - NUDE.
                        Знает всё об устройстве и истории возникновения бань, разрушает устоявшиеся мифы и представления
                        об этой культуре.
                    </p>
                    <p>
                        На встрече вы обогатите свой опыт и превратите его в настоящее банное путешествие, знакомясь с
                        традициями и обрядами разных культур. Каждый ритуал будет четко объяснен, с пониманием пользы и
                        эффекта - без эзотерики, только реальные, проверенные практики.
                    </p>
                </div>
                <div class="event__about">
                    <p>
                        Когда: <b>1 декабря с 17.00 - 23:00</b>
                    </p>
                    <p>
                        Стоимость: <b>25 000 (за одного человека)</b>
                    </p>
                    <p>
                        Максимальное количество гостей: 9 человек
                    </p>
                    <p>
                        Бронь и подробности: +7&nbsp;(843)&nbsp;210-44-08
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>