<section class="faq">
    <h2 class="faq__heading">
        Ответы на частые вопросы
    </h2>
    <ul class="faq__list">
        <li class="faq__list-item">
            <div class="faq__accordion">
                <div class="faq__accordion-bg">

                </div>
                <div class="faq__accordion-row">

                    <button class="faq__accordion-btn">
                        <span class="faq__accordion-btn-text">
                            Есть ли бассейн<br> на территории комплекса?
                        </span>
                        <span class="faq__accordion-btn-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="14" viewBox="0 0 21 14">
                                <path
                                    d="M10.3022 13.251L10.4409 13.1113L10.5806 13.251L20.5083 3.32324L17.6265 0.441406L10.4409 7.62598L3.25635 0.441406L0.374512 3.32324L10.3022 13.251Z" />
                            </svg>
                        </span>
                    </button>
                    <div class="faq__accordion-dropdown">
                        <div class="faq__accordion-dropdown-inner">
                            <div class="faq__accordion-inner-wrapper">
                                <div class="faq__accordion-text">
                                    Бассейна в комплексе нет. Однако вы сможете свободно наслаждаться другими
                                    локациями:
                                    глиняной коллективнойпарной, хамамом, купелью с ледяной водой и ароматнымчаном с
                                    прекрасным видом на хвойный лес.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="faq__list-item">
            <div class="faq__accordion">
                <div class="faq__accordion-bg">

                </div>
                <div class="faq__accordion-row">
                    <button class="faq__accordion-btn">
                        <span class="faq__accordion-btn-text">
                            Можно отказаться<br> от каких-либо процедур,<br> чтобы стоимость была ниже?
                        </span>
                        <span class="faq__accordion-btn-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="14" viewBox="0 0 21 14">
                                <path
                                    d="M10.3022 13.251L10.4409 13.1113L10.5806 13.251L20.5083 3.32324L17.6265 0.441406L10.4409 7.62598L3.25635 0.441406L0.374512 3.32324L10.3022 13.251Z" />
                            </svg>
                        </span>
                    </button>
                    <div class="faq__accordion-dropdown">
                        <div class="faq__accordion-dropdown-inner">
                            <div class="faq__accordion-inner-wrapper">
                                <div class="faq__accordion-text">
                                    Бассейна в комплексе нет. Однако вы сможете свободно наслаждаться другими
                                    локациями:
                                    глиняной коллективнойпарной, хамамом, купелью с ледяной водой и ароматнымчаном с
                                    прекрасным видом на хвойный лес.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="faq__list-item">
            <div class="faq__accordion">
                <div class="faq__accordion-bg">

                </div>
                <div class="faq__accordion-row">
                    <button class="faq__accordion-btn">
                        <span class="faq__accordion-btn-text">
                            Можно с детьми?
                        </span>
                        <span class="faq__accordion-btn-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="14" viewBox="0 0 21 14">
                                <path
                                    d="M10.3022 13.251L10.4409 13.1113L10.5806 13.251L20.5083 3.32324L17.6265 0.441406L10.4409 7.62598L3.25635 0.441406L0.374512 3.32324L10.3022 13.251Z" />
                            </svg>
                        </span>
                    </button>
                    <div class="faq__accordion-dropdown">
                        <div class="faq__accordion-dropdown-inner">
                            <div class="faq__accordion-inner-wrapper">
                                <div class="faq__accordion-text">
                                    Бассейна в комплексе нет. Однако вы сможете свободно наслаждаться другими
                                    локациями:
                                    глиняной коллективнойпарной, хамамом, купелью с ледяной водой и ароматнымчаном с
                                    прекрасным видом на хвойный лес.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="faq__list-item">
            <div class="faq__accordion">
                <div class="faq__accordion-bg">

                </div>
                <div class="faq__accordion-row">
                    <button class="faq__accordion-btn">
                        <span class="faq__accordion-btn-text">
                            Как добраться до комплекса?
                        </span>
                        <span class="faq__accordion-btn-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="14" viewBox="0 0 21 14">
                                <path
                                    d="M10.3022 13.251L10.4409 13.1113L10.5806 13.251L20.5083 3.32324L17.6265 0.441406L10.4409 7.62598L3.25635 0.441406L0.374512 3.32324L10.3022 13.251Z" />
                            </svg>
                        </span>
                    </button>
                    <div class="faq__accordion-dropdown">
                        <div class="faq__accordion-dropdown-inner">
                            <div class="faq__accordion-inner-wrapper">
                                <div class="faq__accordion-text">
                                    Бассейна в комплексе нет. Однако вы сможете свободно наслаждаться другими
                                    локациями:
                                    глиняной коллективнойпарной, хамамом, купелью с ледяной водой и ароматнымчаном с
                                    прекрасным видом на хвойный лес.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="faq__list-item">
            <div class="faq__accordion">
                <div class="faq__accordion-bg">

                </div>
                <div class="faq__accordion-row">
                    <button class="faq__accordion-btn">
                        <span class="faq__accordion-btn-text">
                            В чем отличие программ?
                        </span>
                        <span class="faq__accordion-btn-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="14" viewBox="0 0 21 14">
                                <path
                                    d="M10.3022 13.251L10.4409 13.1113L10.5806 13.251L20.5083 3.32324L17.6265 0.441406L10.4409 7.62598L3.25635 0.441406L0.374512 3.32324L10.3022 13.251Z" />
                            </svg>
                        </span>
                    </button>
                    <div class="faq__accordion-dropdown">
                        <div class="faq__accordion-dropdown-inner">
                            <div class="faq__accordion-inner-wrapper">
                                <div class="faq__accordion-text">
                                    Бассейна в комплексе нет. Однако вы сможете свободно наслаждаться другими
                                    локациями:
                                    глиняной коллективнойпарной, хамамом, купелью с ледяной водой и ароматнымчаном с
                                    прекрасным видом на хвойный лес.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="faq__list-item">
            <div class="faq__accordion">
                <div class="faq__accordion-bg">

                </div>
                <div class="faq__accordion-row">
                    <button class="faq__accordion-btn">
                        <span class="faq__accordion-btn-text">
                            Что с собой брать в баню?
                        </span>
                        <span class="faq__accordion-btn-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="14" viewBox="0 0 21 14">
                                <path
                                    d="M10.3022 13.251L10.4409 13.1113L10.5806 13.251L20.5083 3.32324L17.6265 0.441406L10.4409 7.62598L3.25635 0.441406L0.374512 3.32324L10.3022 13.251Z" />
                            </svg>
                        </span>
                    </button>
                    <div class="faq__accordion-dropdown">
                        <div class="faq__accordion-dropdown-inner">
                            <div class="faq__accordion-inner-wrapper">
                                <div class="faq__accordion-text">
                                    Бассейна в комплексе нет. Однако вы сможете свободно наслаждаться другими
                                    локациями:
                                    глиняной коллективнойпарной, хамамом, купелью с ледяной водой и ароматнымчаном с
                                    прекрасным видом на хвойный лес.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>