<section class="features js-tabs">
    <div class="features__content">
        <div class="tabs-nav features__nav">
            <button class="tabs-nav__select-btn">
                <span class="tabs-nav__select-btn-text">
                    Процедуры
                </span>
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="7" viewBox="0 0 12 7">
                    <path
                        d="M6.07617 6.99805L6 6.92187L5.92383 6.99805L0.501956 1.57617L2.0752 0.00195313L6 3.92578L9.92481 0.00195313L11.498 1.57617L6.07617 6.99805Z" />
                </svg>
            </button>
            <div class="tabs-nav__select-dropdown">
                <div class="tabs-nav__select-dropdown-inner">
                    <div class="tabs-nav__select-scroll-wrapper">
                        <ul class="tabs-nav__list">
                            <li class="tabs-nav__list-item">
                                <a href="#" class="tabs-nav__link js-tabs-btn active">
                                    Процедуры
                                </a>
                            </li>
                            <li class="tabs-nav__list-item">
                                <a href="#" class="tabs-nav__link js-tabs-btn">
                                    Еда
                                </a>
                            </li>
                            <li class="tabs-nav__list-item">
                                <a href="#" class="tabs-nav__link js-tabs-btn">
                                    Правила бронирования
                                </a>
                            </li>
                            <li class="tabs-nav__list-item">
                                <a href="#" class="tabs-nav__link js-tabs-btn">
                                    Дополнительные услуги
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="features__tab-items">
            <div class="features__tab-item js-tabs-item active">
                <h3 class="features__tab-heading">
                    Процедуры
                </h3>
                <div class="features__procedures">
                    <ul class="features__procedures-list">
                        <li class="features__procedures-list-item">
                            <div class="features__procedures-card">
                                <div class="features__procedures-card-title-wrapper">
                                    <h4 class="features__procedures-card-title">
                                        Иммерсивный аромапрогрев
                                    </h4>
                                    <div class="features__procedures-card-stars">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15"
                                            viewBox="0 0 15 15">
                                            <path d="M0 7.5L7.07107 0.428932L14.1421 7.5L7.07107 14.5711L0 7.5Z" />
                                        </svg>
                                    </div>
                                </div>
                                <div class="features__procedures-card-text">
                                    Чарующие ароматы в&nbsp;глиняной парной перенесут ваше сознание из&nbsp;шумного
                                    города
                                    к&nbsp;природным
                                    истокам. Запах цветущих лугов сменяется хвойной свежестью, а&nbsp;звуки дождя
                                    и&nbsp;живых
                                    инструментов
                                    приводят к&nbsp;состоянию спокойствия.
                                </div>
                                <div class="features__procedures-card-image-wrapper">
                                    <div class="features__procedures-card-image-wrapper-inner">
                                        <img src="/images/procedures.webp" alt=""
                                            class="features__procedures-card-image">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="features__procedures-list-item">
                            <div class="features__procedures-card">
                                <div class="features__procedures-card-title-wrapper">
                                    <h4 class="features__procedures-card-title">
                                        Контрастное парение<br> до 60 минут
                                    </h4>
                                    <div class="features__procedures-card-stars">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15"
                                            viewBox="0 0 15 15">
                                            <path d="M0 7.5L7.07107 0.428932L14.1421 7.5L7.07107 14.5711L0 7.5Z" />
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15"
                                            viewBox="0 0 15 15">
                                            <path d="M0 7.5L7.07107 0.428932L14.1421 7.5L7.07107 14.5711L0 7.5Z" />
                                        </svg>
                                    </div>
                                </div>
                                <div class="features__procedures-card-text">
                                    Авторская техника парения подстраивается под ваши предпочтения, а&nbsp;три смены
                                    температуры помогают прочувствовать жизнь острее. Кульминацией становится холодный
                                    пилинг и&nbsp;массаж головы можжевеловым веником&nbsp;&mdash; мгновение, когда весь
                                    мир
                                    замирает.
                                </div>
                                <div class="features__procedures-card-image-wrapper">
                                    <div class="features__procedures-card-image-wrapper-inner">
                                        <img src="/images/procedures.webp" alt=""
                                            class="features__procedures-card-image">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="features__procedures-list-item">
                            <div class="features__procedures-card">
                                <div class="features__procedures-card-title-wrapper">
                                    <h4 class="features__procedures-card-title">
                                        Тонкое касание
                                    </h4>
                                    <div class="features__procedures-card-stars">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15"
                                            viewBox="0 0 15 15">
                                            <path d="M0 7.5L7.07107 0.428932L14.1421 7.5L7.07107 14.5711L0 7.5Z" />
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15"
                                            viewBox="0 0 15 15">
                                            <path d="M0 7.5L7.07107 0.428932L14.1421 7.5L7.07107 14.5711L0 7.5Z" />
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15"
                                            viewBox="0 0 15 15">
                                            <path d="M0 7.5L7.07107 0.428932L14.1421 7.5L7.07107 14.5711L0 7.5Z" />
                                        </svg>
                                    </div>
                                </div>
                                <div class="features__procedures-card-text">
                                    Наши опытные специалисты проводят 60-минутную процедуру только для двух
                                    гостей,а&nbsp;это значит, что они могут точечно и&nbsp;прицельно проработать каждый
                                    участок тела. В&nbsp;ходе процедуры используются натуральные масла, дарящие коже
                                    особую
                                    бархатистость.
                                </div>
                                <div class="features__procedures-card-image-wrapper">
                                    <div class="features__procedures-card-image-wrapper-inner">
                                        <img src="/images/procedures.webp" alt=""
                                            class="features__procedures-card-image">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="features__procedures-list-item">
                            <div class="features__procedures-card">
                                <div class="features__procedures-card-title-wrapper">
                                    <h4 class="features__procedures-card-title">
                                        Гастрономическое<br> удовольствие
                                    </h4>
                                    <div class="features__procedures-card-stars">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15"
                                            viewBox="0 0 15 15">
                                            <path d="M0 7.5L7.07107 0.428932L14.1421 7.5L7.07107 14.5711L0 7.5Z" />
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15"
                                            viewBox="0 0 15 15">
                                            <path d="M0 7.5L7.07107 0.428932L14.1421 7.5L7.07107 14.5711L0 7.5Z" />
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15"
                                            viewBox="0 0 15 15">
                                            <path d="M0 7.5L7.07107 0.428932L14.1421 7.5L7.07107 14.5711L0 7.5Z" />
                                        </svg>
                                    </div>
                                </div>
                                <div class="features__procedures-card-text">
                                    Завершающий штрих программы&nbsp;&mdash; обед или ужин, где привычные вкусы
                                    раскрываются
                                    по-новому, а&nbsp;неожиданные сочетания блюд из&nbsp;нашего <a href="#">меню</a>
                                    удивляют и&nbsp;дарят
                                    особое наслаждение.
                                </div>
                                <div class="features__procedures-card-image-wrapper">
                                    <div class="features__procedures-card-image-wrapper-inner">
                                        <img src="/images/procedures.webp" alt=""
                                            class="features__procedures-card-image">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="features__tab-item js-tabs-item">
                <div class="features__menu">
                    <h3 class="features__tab-heading">
                        Еда
                    </h3>
                    <div class="features__menu-text">
                        <b>Завершающий штрих программы</b> — обед или ужин, где привычные вкусы раскрываются по-новому,
                        а неожиданные сочетания блюд из нашего меню удивляют и дарят особое наслаждение.
                    </div>
                    <div class="features__menu-wrapper">
                        <picture>
                            <source srcset="/images/features-food-bg-pattern-mobile.svg" media="(max-width: 576px)">
                            <source srcset="/images/features-food-bg-pattern-tablet.svg" media="(max-width: 768px)">
                            <img src="/images/features-food-bg-pattern.svg" alt="" class="features__menu-pattern">
                        </picture>
                        <div class="features__menu-row">

                            <div class="features__menu-dish">
                                <div class="features__menu-dish-image-container">
                                    <img src="/images/dish-1.webp" alt="" class="features__menu-dish-image">
                                </div>
                                <div class="features__menu-dish-title">
                                    Говяжьи ребрышки с запеченым картофелем в фирменном соусе
                                </div>
                            </div>
                            <a href="#" class="features__menu-dish">
                                <div class="features__menu-dish-image-container">
                                    <img src="/images/dish-3.webp" alt="" class="features__menu-dish-image">
                                    <div class="features__menu-dish-download">
                                        <span>
                                            Скачать меню
                                        </span>

                                    </div>
                                </div>
                                <div class="features__menu-dish-title">
                                    Гаспачо из молодых томатов с&nbsp;жареными тостами
                                </div>
                            </a>
                            <div class="features__menu-dish">
                                <div class="features__menu-dish-image-container">
                                    <img src="/images/dish-2.webp" alt="" class="features__menu-dish-image">
                                </div>
                                <div class="features__menu-dish-title">
                                    Стейк из трески с цветной капустой в овощном соусе
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="features__tab-item js-tabs-item">
                <h3 class="features__tab-heading">
                    Правила бронирования
                </h3>
                <div class="features__rules">
                    <div class="features__rules-text">
                        <p>
                            Платеж является обязательным условием бронирования. Внося предоплату, вы подтверждаете, что
                            ознакомлены и согласны с Правилами посещения банного комплекса Солома!
                        </p>
                        <p>
                            В случае нарушения Правил посещения, несогласованных изменений даты, времени или отмены
                            посещения внесенный авансовый платеж ВОЗВРАТУ НЕ ПОДЛЕЖИТ и удерживается в качестве
                            компенсации.
                        </p>
                        <p>
                            В случае опоздания к забронированному времени перерасчет времени аренды не осуществляется,
                            авансовый платеж НЕ ВОЗВРАЩАЕТСЯ. Продление времени аренды возможно лишь при наличии
                            незарезервированного (свободного) периода.
                        </p>
                    </div>
                    <div class="features__rules-remarks">
                        <div class="features__rules-remark">
                            ⓘ Аренда осуществляется по предварительной записи и после внесения 50% предоплаты
                        </div>
                        <div class="features__rules-remark">
                            ⓘ Бесплатная отмена возможна за 24 часа!
                        </div>
                    </div>
                </div>
            </div>
            <div class="features__tab-item js-tabs-item">
                <div class="features__extra">
                    <div class="features__extra-bg">
                        <picture>
                            <source srcset="/images/extra-mobile.webp" media="(max-width: 576px)">
                            <source srcset="/images/extra-tablet.webp" media="(max-width: 768px)">
                            <img src="/images/extra.webp" alt="" class="features__extra-bg-image">
                        </picture>
                    </div>
                    <h2 class="features__extra-title">
                        <span>
                            Дополнительные
                        </span>
                        <span>
                            услуги
                        </span>
                    </h2>
                    <div class="features__extra-text">
                        К любой программе вы можете добавить дополнительные услуги, чтобы сделать отдых ещё приятнее.
                    </div>
                    <div class="features__extra-download">
                        <div class="features__extra-download-icon">
                            <img src="/images/pdf.svg" alt="" class="features__extra-download-icon-image">
                            <div class="features__extra-download-text">
                                Services menu
                            </div>
                        </div>
                        <a href="#" class="features__extra-download-link">
                            Скачать
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>