<footer class="page-footer">
    <div class="page-footer__content">
        <div class="page-footer__top-row">
            <div class="page-footer__contacts">
                <ul class="page-footer__contacts-list">
                    <li class="page-footer__contacts-list-item">
                        <div class="page-footer__contacts-card">
                            <div class="page-footer__contacts-card-row">
                                <div class="page-footer__contacts-card-key">
                                    адрес
                                </div>
                                <div class="page-footer__contacts-card-value">
                                    ул. Маковая, 10д, Казань, Респ. Татарстан, 423887
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="page-footer__contacts-list-item">
                        <a href="tel:+78435580162" class="page-footer__contacts-card">
                            <div class="page-footer__contacts-card-row">
                                <div class="page-footer__contacts-card-key">
                                    телефОН
                                </div>
                                <div class="page-footer__contacts-card-value">
                                    +7 843 558-01-62
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="page-footer__contacts-list-item">
                        <div class="page-footer__contacts-card">
                            <div class="page-footer__contacts-card-row">
                                <div class="page-footer__contacts-card-key">
                                    РЕЖИМ РАБОТЫ
                                </div>
                                <div class="page-footer__contacts-card-value">
                                    10:00 - 04:00
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="page-footer__contacts-list-item">
                        <a href="mailto:info@soloma.group" class="page-footer__contacts-card">
                            <div class="page-footer__contacts-card-row">
                                <div class="page-footer__contacts-card-key">
                                    ПОЧТА
                                </div>
                                <div class="page-footer__contacts-card-value">
                                    info@soloma.group
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="page-footer__slogan">
                Солома — ваша новая точка<br> на&nbsp;пути к&nbsp;расслаблению и&nbsp;поиску себя
            </div>
            <ul class="page-footer__social-list">
                <li class="page-footer__social-list-item">
                    <a href="#" class="page-footer__social-link">
                        Telegram
                    </a>
                </li>
                <li class="page-footer__social-list-item">
                    <a href="#" class="page-footer__social-link">
                        Instagram
                    </a>
                </li>
                <li class="page-footer__social-list-item">
                    <a href="#" class="page-footer__social-link">
                        VK
                    </a>
                </li>
            </ul>
        </div>
        <div class="page-footer__bottom-row">
            <div class="page-footer__copyright">
                COPYRIGHT © 2025 SOLOMA GROUP
            </div>
            <a href="#" class="page-footer__policy">
                PRIVACY POLICY
            </a>
        </div>
    </div>
</footer>