<section class="goal">


    <picture>
        <source srcset="/images/goal-bg-pattern-mobile.svg" media="(max-width: 576px)">
        <source srcset="/images/goal-bg-pattern-tablet.svg" media="(max-width: 768px)">
        <img src="/images/goal-bg-pattern.svg" alt="" class="goal__bg-pattern">
    </picture>
    <div class="goal__content">

        <div class="goal__top-row">
            <img src="/images/goal-left-pattern.svg" alt="" class="goal__left-pattern">
            <h2 class="goal__heading">
                цель
            </h2>
            <img src="/images/goal-right-pattern.svg" alt="" class="goal__right-pattern">
        </div>
        <div class="goal__text">
            Уйти от шума и суеты в пространство тихого соснового леса. Побыть наедине с дорогим человеком и
            почувствовать, как тело и разум наполняются силой и спокойствием.
        </div>
    </div>
</section>