<header class="page-header">
    <div class="page-header__content">
        <a href="#" class="page-header__logo">
            <img src="/images/logo.svg" alt="logo" class="page-header__logo-image">
        </a>

        <a href="#" class="page-header__callback-btn">
            <span class="page-header__callback-btn-icon">
                <svg width="35" height="35" viewBox="0 0 35 35" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M24.5005 17.7954L24.3755 17.9185L24.5005 18.0435L15.6753 26.8677L13.1138 24.3062L19.4995 17.9185L13.1138 11.5317L15.6753 8.97021L24.5005 17.7954Z" />
                </svg>
            </span>
            Забронировать
        </a>
    </div>

</header>