<section class="intro">

    <div class="intro__content">
        <picture>
            <source srcset="/images/intro-decor-mobile.svg" media="(max-width: 576px)">
            <source srcset="/images/intro-decor-tablet.svg" media="(max-width: 768px)">
            <img src="/images/intro-decor.svg" alt="" class="intro__decor-image">
        </picture>
        <div class="intro__left">
            <div class="intro__left-top">
                Тихое и дивное
            </div>
            <div class="intro__left-middle">
                банное
            </div>
            <div class="intro__left-bottom">
                таинство
            </div>
        </div>
        <div class="intro__middle">
            <div class="intro__image-wrapper">
                <div class="intro__image-wrapper-inner">

                    <div class="intro__cards-slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="intro__cards-slider-card">
                                        <video src="/videos/compressed_1.mp4" muted="" loop="" playsinline=""
                                            preload="metadata"></video>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="intro__cards-slider-card">
                                        <video src="/videos/compressed_2.mp4" muted="" loop="" playsinline=""
                                            preload="metadata"></video>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="intro__cards-slider-card">
                                        <video src="/videos/compressed_3.mp4" muted="" loop="" playsinline=""
                                            preload="metadata"></video>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="intro__cards-slider-card">
                                        <video src="/videos/compressed_4.mp4" muted="" loop="" playsinline=""
                                            preload="metadata"></video>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="intro__cards-slider-card">
                                        <video src="/videos/compressed_5.mp4" muted="" loop="" playsinline=""
                                            preload="metadata"></video>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="/videos/compressed_1.mp4" class="intro__play" data-fancybox="">
                    <img src="/images/play-bg.webp" alt="" class="intro__play-bg">
                    <div class="intro__play-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="31" height="35" viewBox="0 0 31 35">
                            <path
                                d="M24.8106 12.0701C28.0115 13.9185 29.612 14.8427 30.1491 16.0492C30.6177 17.1016 30.6177 18.3034 30.1491 19.3558C29.612 20.5623 28.0115 21.4865 24.8106 23.3349L10.0031 31.8856C6.80142 33.7344 5.20058 34.6588 3.88694 34.5208C2.74114 34.4005 1.70022 33.7995 1.02301 32.8675C0.246601 31.7989 0.246601 29.9503 0.246601 26.2532V9.15189C0.246601 5.45472 0.246601 3.60614 1.02301 2.53756C1.70022 1.6055 2.74114 1.00458 3.88694 0.884216C5.20058 0.74622 6.80142 1.67064 10.0031 3.51947L24.8106 12.0701Z" />
                        </svg>
                    </div>
                </a>
            </div>
        </div>
        <div class="intro__right">
            <div class="intro__right-top">
                среди всей<br>
                этой суеты
            </div>
            <div class="intro__right-wrapper">


                <div class="intro__right-text">
                    Самая большая баня из соломы в России
                </div>
                <div class="intro__right-btns">
                    <a href="#" class="intro__right-order-btn">
                        Забронировать
                    </a>
                    <a href="#" class="intro__right-certificates">
                        Сертификаты
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>