<section class="kitchen-intro">
    <div class="kitchen-intro__content">
        <h1 class="kitchen-intro__heading">
            КУХ НЯ
        </h1>
        <div class="kitchen-intro__row">
            <div class="kitchen-intro__wrapper">
                <div class="kitchen-intro__text-content">
                    <div class="kitchen-intro__title">
                        Кухня Соломы
                    </div>
                    <div class="kitchen-intro__text">
                        В основе нашего подхода лежат два ключевых принципа: поиск оригинальных вкусовых сочетаний и
                        использование только качественных ингредиентов.
                    </div>
                    <a href="#" class="kitchen-intro__link">
                        Подробнее
                    </a>
                </div>
                <div class="kitchen-intro__quote">
                    «Мы закупаем продукты для наших блюд у фермерских и охотничьих хозяйств, тщательно отбирая
                    поставщиков и контролируя качество продукции. <b>Нашим гостям — только самое лучшее»</b>
                </div>
            </div>
            <div class="kitchen-intro__image-wrapper">
                <div class="kitchen-intro__chief">
                    <div class="kitchen-intro__chief-name">
                        Петр Кузнецов
                    </div>
                    <div class="kitchen-intro__chief-position">
                        Бренд-шеф Cолома Групп
                    </div>
                </div>
                <img src="/images/kitchen.webp" alt="" class="kitchen-intro__image">
            </div>
        </div>
    </div>
</section>