<section class="mainteinance">
    <div class="mainteinance__bg">
        <picture>
            <source srcset="/images/mainteinance-mobile.webp" media="(max-width: 576px)">
            <source srcset="/images/mainteinance-tablet.webp" media="(max-width: 768px)">
            <img src="/images/mainteinance.webp" alt="" class="mainteinance__bg-image">
        </picture>
    </div>
    <div class="mainteinance__content">
        <div class="mainteinance__text-content">
            <img src="images/mainteinance.svg" alt="" class="mainteinance__icon">
            <h1 class="mainteinance__heading">
                <b>Страница</b><br>
                находится в разработке, появится в ближайшее время
            </h1>
            <div class="mainteinance__text">
                А пока вы&nbsp;можете связаться с&nbsp;нами по&nbsp;номеру <a href="tel:+79172660254">+7 (917)
                    266-02-54</a>
                или&nbsp;оставить заявку на&nbsp;почте <a href="mailto:info@soloma.group">info@soloma.group</a>
            </div>
            <a href="#" class="mainteinance__home-link">
                На главную
            </a>
        </div>
    </div>
</section>