<section class="in-circle">
    <div class="in-circle__bg">
        <picture>
            <source srcset="/images/mens-circle/bg-mobile.webp" media="(max-width: 576px)">
            <source srcset="/images/mens-circle/bg-tablet.webp" media="(max-width: 768px)">
            <img src="/images/mens-circle/bg.webp" alt="" class="in-circle__bg-image">
        </picture>
    </div>
    <div class="in-circle__content">
        <div class="in-circle__text-content">
            <h2 class="in-circle__heading">
                В кругу своих
            </h2>
            <div class="in-circle__text">
                <p>
                    Мы создаём пространство, где пар смывает все статусы и маски, оставляя лишь неспешные разговоры в
                    кругу близких по духу.
                </p>
                <p>
                    Здесь собираются&nbsp;те, кто выбирает только лучшее и&nbsp;знает, что банный отдых&nbsp;&mdash; это
                    часть образа жизни.
                </p>
            </div>
        </div>
    </div>
</section>