<section class="mission">
    <div class="mission__content">
        <div class="mission__large-text">
            «Создавая <img src="images/two-diamonds.svg" alt=""> проект, <img src="images/two-diamonds.svg" alt=""> мы
            не
            хотели идти по протоптанной дорожке и
            строить очередное деревянное
            строение. Поэтому
            в комплексе много панорамных окон, светлой керамики, регулируемой подсветки и технологий, меняющих
            представление о банном отдыхе»
        </div>
    </div>
</section>