<section class="place">
    <div class="place__content">
        <img src="/images/place-pattern.svg" alt="" class="place__pattern">
        <div class="place__card">


            <div class="place__text-content">
                <div class="place__title">
                    <span>
                        Награды
                    </span>
                </div>
                <h2 class="place__heading">
                    <span>Место, </span>
                    <span>
                        о котором говорят
                    </span>
                </h2>
                <div class="place__text">
                    <p>
                        Наш подход к банному отдыху привлёк внимание гостей и экспертов индустрии. Так в 2022 году мы
                        получили премию от Федерации по развитию туризма Татарстана и стали <b>«Релакс-объектом
                            года».</b>
                    </p>
                    <p>
                        О Соломе написали в журнале <b>Elle</b>, отметив наш экологичный подход, внимание к деталям и
                        любовь
                        к своему делу.
                    </p>
                </div>
                <a href="#" class="place__link">
                    Читать статью
                </a>
            </div>
            <div class="place__images">
                <div class="place__image-wrapper">
                    <img src="/images/place-image-1.webp" alt="" class="place__image">
                </div>
                <div class="place__image-wrapper">
                    <img src="/images/place-image-2.webp" alt="" class="place__image">
                </div>
            </div>
        </div>
    </div>
</section>