<section class="plate">
    <div class="plate__content">
        <div class="plate__image-container">
            <picture>
                <source srcset="/images/plate-mobile.webp" media="(max-width: 576px)">
                <source srcset="/images/plate-tablet.webp" media="(max-width: 768px)">
                <img src="/images/plate.webp" alt="" class="plate__image">
            </picture>
        </div>
        <div class="plate__wrapper">
            <div class="plate__wrapper-inner">


                <div class="plate__top-title">
                    В Соломе каждый гость найдёт то,
                </div>
                <div class="plate__bottom-title">
                    что будет ему по вкусу
                </div>
                <ul class="plate__list">
                    <li class="plate__list-item">
                        Блюда различных национальных кухонь. Классические русские щи из дровяной печи или нежнейшие
                        медальоны
                        су-вид – выбор за вами
                    </li>
                    <li class="plate__list-item">
                        Специальное вегетарианское меню. Сочные овощи и фрукты, авторские заправки, оригинальные
                        сочетания
                    </li>
                    <li class="plate__list-item">
                        Блюда для маленьких гостей. Простые и вкусные хиты – домашние пельмени, спагетти и другие
                        любимые
                        угощения
                    </li>
                    <li class="plate__list-item">
                        Сезонное меню с новыми удивительными блюдами каждые три месяца
                    </li>
                    <li class="plate__list-item">
                        Мясо с ароматом дымка. Готовим в русской печи сохраняя сочность и нежность
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>