<section class="program-intro">

    <div class="program-intro__content">
        <div class="program-intro__image-container">
            <picture>
                <source srcset="/images/program-intro-mobile.webp" media="(max-width: 576px)">
                <source srcset="/images/program-intro-tablet.webp" media="(max-width: 768px)">
                <img src="/images/program-intro.webp" alt="" class="program-intro__image">
            </picture>
        </div>
        <div class="program-intro__text-content">
            <div class="program-intro__tablet-wrapper">
                <div class="program-intro__label">
                    Индивидуальная программа
                </div>
                <h1 class="program-intro__heading">
                    Эгоист
                    <span>
                        +
                    </span>
                </h1>
                <div class="program-intro__text">
                    <p>
                        Для тех, кто не приемлет полумер. Кто точно знает, что достоин самого лучшего и на меньшее не
                        согласен.
                    </p>
                    <p>
                        Побыть в центре внимания и ощутить, что все вокруг лишь для вас двоих. Индивидуальный подход,
                        персональная забота о комфорте и внимание к деталям. Возможность побыть вдвоем, разделив чувства
                        и
                        впечатления.
                    </p>
                </div>
            </div>
            <div class="program-intro__duration">
                <div class="program-intro__duration-title">
                    Длительность программы
                </div>
                <div class="program-intro__duration-text">
                    <p>
                        2 человека — 5 часов, 3 человека — 6 часов
                    </p>
                    <p>
                        10:00 - 15:00 / 17:00 - 22:00
                    </p>
                </div>
            </div>
            <div class="program-intro__price">
                <div class="program-intro__price-row">
                    <div class="program-intro__price-amount">
                        90 000 ₽
                    </div>
                    <div class="program-intro__price-persons">
                        / 2 чел.
                    </div>
                </div>
                <div class="program-intro__price-remark">
                    ⓘ 3 человек + 45 000 ₽. Особые условия для очень важных гостей: для детей до 6 лет — бесплатно, до
                    12 лет — скидка 50%
                </div>
            </div>
            <div class="program-intro__btns">
                <a href="#" class="program-intro__book-btn">
                    Забронировать
                </a>
                <a href="#" class="program-intro__more-btn">
                    Подробнее
                </a>
            </div>
        </div>
    </div>
</section>