<section class="reviews">
    <div class="reviews__content">
        <h2 class="reviews__heading" data-text="Отзывы">
            Отзывы
        </h2>
        <div class="reviews__slider">
            <button class="reviews__slider-arrow reviews__slider-arrow--prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="18" viewBox="0 0 12 18">
                    <path
                        d="M-0.000488281 8.82422L0.123535 8.94727L-0.000488281 9.07129L8.82471 17.8955L11.3862 15.334L5.00049 8.94727L11.3862 2.56152L8.82471 0L-0.000488281 8.82422Z" />
                </svg>
            </button>
            <div class="reviews__slider-wrapper">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="reviews__slide">
                                <div class="reviews__slide-card">
                                    <div class="reviews__slide-tags">
                                        <div class="reviews__slide-tag">
                                            ОТЗЫВЫ
                                        </div>
                                    </div>
                                    <div class="reviews__slide-text-content">
                                        <h3 class="reviews__slide-title">
                                            MASHA_MUR
                                        </h3>
                                        <div class="reviews__slide-text">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat.
                                        </div>
                                    </div>
                                </div>
                                <div class="reviews__slide-image-wrapper">


                                    <picture>

                                        <source srcset="/images/reviews-slide-tablet.webp" media="(max-width: 768px)">
                                        <img src="/images/reviews-slide.webp" alt="" class="reviews__slide-image">
                                    </picture>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="reviews__slide">
                                <div class="reviews__slide-card">
                                    <div class="reviews__slide-tags">
                                        <div class="reviews__slide-tag">
                                            ОТЗЫВЫ
                                        </div>
                                    </div>
                                    <div class="reviews__slide-text-content">
                                        <h3 class="reviews__slide-title">
                                            MASHA_MUR
                                        </h3>
                                        <div class="reviews__slide-text">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat.
                                        </div>
                                    </div>
                                </div>
                                <div class="reviews__slide-image-wrapper">
                                    <img src="/images/reviews-slide.webp" alt="" class="reviews__slide-image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="reviews__slider-arrow reviews__slider-arrow--next">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="18" viewBox="0 0 12 18">
                    <path
                        d="M12.0005 8.82422L11.8765 8.94727L12.0005 9.07129L3.17529 17.8955L0.61377 15.334L6.99951 8.94727L0.61377 2.56152L3.17529 0L12.0005 8.82422Z" />
                </svg>
            </button>
        </div>
    </div>
</section>