<section class="rules">
    <div class="rules__content">
        <div class="rules__card">
            <h3>
                Правила аренды
            </h3>
            <p>
                Платеж является обязательным условием бронирования. Внося предоплату, Вы подтверждаете, что ознакомлены
                и согласны с Правилами посещения банного комплекса Солома!
            </p>
            <p>
                В случае нарушения Правил посещения, несогласованных изменений даты, времени или отмены посещения,
                внесённый авансовый платеж ВОЗВРАТУ НЕ ПОДЛЕЖИТ и удерживается в качестве компенсации.
            </p>
            <p>
                В случае опоздания к забронированному времени, перерасчет времени аренды не осуществляется, авансовый
                платеж НЕ ВОЗВРАЩАЕТСЯ. Продление времени аренды возможно лишь при наличии незарезервированного
                (свободного) периода.
            </p>
            <p>
                Аренда осуществляется только по предварительной записи и после внесения 50% предоплаты! Бесплатная
                отмена бронирования возможна за 24 часа!
            </p>
            <h3>
                Условия возврата средств<br> в&nbsp;случае отмены бронирования
            </h3>
            <ul>
                <li>
                    Для возврата средств гостю необходимо написать заявление.
                </li>
                <li>
                    Обработка заявления – 7 рабочих дней.
                </li>
                <li>
                    Возврат, производится на ту же карту плательщика, с которой была внесена предоплата в течение 10
                    дней со дня подачи заявления.
                </li>
            </ul>
            <h3>
                Правила посещения бани
            </h3>
            <ul>
                <li>
                    Посещение с личным персоналом не допускается.
                </li>
                <li>
                    Администрация бани оставляет за собой право отказать в обслуживании лицам в состоянии алкогольного
                    или наркотического опьянения.
                </li>
                <li>
                    В банном комплексе недопустимо проявление интимной близости.
                </li>
                <li>
                    Запрещается приносить с собой свою еду и напитки.
                </li>
                <li>
                    Грубое отношение к персоналу и неподобающее поведение недопустимы.
                </li>
                <li>
                    Вход с животными запрещен.
                </li>
                <li>
                    Запрещается порча имущества.
                </li>
                <li>
                    При превышении оплаченного времени более чем на 15 минут автоматически начисляется дополнительный
                    час аренды.
                </li>
                <li>
                    Администрация не несет ответственности за детей, их безопасность находится под полной
                    ответственностью родителей или сопровождающих лиц.
                </li>
            </ul>
            <p>
                В случае нарушения перечисленных выше требований мы вправе прекратить предоставление услуг, а также
                лишить гостя права дальнейшего пользования услугами нашей бани, в том числе — уже оплаченного
                бронирования , без компенсации его стоимости.
            </p>
            <p>
                Также, просим обратить внимание, что в бане действует четкий регламент процедур и времени пребывания,
                выверенный для максимального удобства гостей. Это гарантирует,что каждый успеет насладиться атмосферой,
                получить все услуги и отдохнуть без спешки.
            </p>
        </div>
    </div>
</section>