<section class="team">
    <div class="team__content">
        <div class="team__row">
            <div class="team__slogan">
                <div class="team__slogan-main">
                    <h2 class="team__slogan-main-top">
                        команда
                    </h2>
                    <div class="team__slogan-main-bottom">
                        людей,
                    </div>
                </div>
                <div class="team__slogan-secondary">
                    <div class="team__slogan-secondary-top">
                        делающих вас
                    </div>
                    <div class="team__slogan-secondary-bottom">
                        счастливее
                    </div>
                </div>
            </div>
            <div class="team__slider">
                <button class="team__slider-arrow team__slider-arrow--prev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="18" viewBox="0 0 12 18">
                        <path
                            d="M-0.000488281 8.82422L0.123535 8.94727L-0.000488281 9.07129L8.82471 17.8955L11.3862 15.334L5.00049 8.94727L11.3862 2.56152L8.82471 0L-0.000488281 8.82422Z" />
                    </svg>
                </button>
                <div class="team__slider-wrapper">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="team__slider-card">
                                    <div class="team__slider-card-bg">
                                        <img src="/images/team/1.webp" alt="" class="team__slider-card-bg-image">
                                    </div>
                                    <div class="team__slider-card-content">
                                        <div class="team__slider-card-name">
                                            <div class="team__slider-card-first-name">
                                                тимур
                                            </div>
                                            <div class="team__slider-card-last-name">
                                                крылов
                                            </div>
                                        </div>
                                        <div class="team__slider-card-role">
                                            Идейный вдохновитель, собственник солома групп
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team__slider-card">
                                    <div class="team__slider-card-bg">
                                        <img src="/images/team/2.webp" alt="" class="team__slider-card-bg-image">
                                    </div>
                                    <div class="team__slider-card-content">
                                        <div class="team__slider-card-name">
                                            <div class="team__slider-card-first-name">
                                                катя
                                            </div>
                                            <div class="team__slider-card-last-name">
                                                крылова
                                            </div>
                                        </div>
                                        <div class="team__slider-card-role">
                                            Идейный вдохновитель, руководитель маркетинга и сервиса
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team__slider-card">
                                    <div class="team__slider-card-bg">
                                        <img src="/images/team/3.webp" alt="" class="team__slider-card-bg-image">
                                    </div>
                                    <div class="team__slider-card-content">
                                        <div class="team__slider-card-name">
                                            <div class="team__slider-card-first-name">
                                                айдар
                                            </div>
                                            <div class="team__slider-card-last-name">
                                                Хайризямонов
                                            </div>
                                        </div>
                                        <div class="team__slider-card-role">
                                            Специалист по обучению и развитию персонала
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team__slider-card">
                                    <div class="team__slider-card-bg">
                                        <img src="/images/team/1.webp" alt="" class="team__slider-card-bg-image">
                                    </div>
                                    <div class="team__slider-card-content">
                                        <div class="team__slider-card-name">
                                            <div class="team__slider-card-first-name">
                                                тимур
                                            </div>
                                            <div class="team__slider-card-last-name">
                                                крылов
                                            </div>
                                        </div>
                                        <div class="team__slider-card-role">
                                            Идейный вдохновитель, собственник солома групп
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team__slider-card">
                                    <div class="team__slider-card-bg">
                                        <img src="/images/team/2.webp" alt="" class="team__slider-card-bg-image">
                                    </div>
                                    <div class="team__slider-card-content">
                                        <div class="team__slider-card-name">
                                            <div class="team__slider-card-first-name">
                                                катя
                                            </div>
                                            <div class="team__slider-card-last-name">
                                                крылова
                                            </div>
                                        </div>
                                        <div class="team__slider-card-role">
                                            Идейный вдохновитель, руководитель маркетинга и сервиса
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team__slider-card">
                                    <div class="team__slider-card-bg">
                                        <img src="/images/team/3.webp" alt="" class="team__slider-card-bg-image">
                                    </div>
                                    <div class="team__slider-card-content">
                                        <div class="team__slider-card-name">
                                            <div class="team__slider-card-first-name">
                                                айдар
                                            </div>
                                            <div class="team__slider-card-last-name">
                                                Хайризямонов
                                            </div>
                                        </div>
                                        <div class="team__slider-card-role">
                                            Специалист по обучению и развитию персонала
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="team__slider-arrow team__slider-arrow--next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="18" viewBox="0 0 12 18">
                        <path
                            d="M12.0005 8.82422L11.8765 8.94727L12.0005 9.07129L3.17529 17.8955L0.61377 15.334L6.99951 8.94727L0.61377 2.56152L3.17529 0L12.0005 8.82422Z" />
                    </svg>
                </button>
            </div>

        </div>
    </div>
</section>