<section class="detail-intro">
    <div class="detail-intro__bg">
        <picture>
            <source srcset="/images/tihaya-bg-mobile.webp" media="(max-width: 576px)">
            <source srcset="/images/tihaya-bg-tablet.webp" media="(max-width: 768px)">
            <img src="/images/tihaya-bg.webp" alt="" class="detail-intro__bg-image">
        </picture>
    </div>
    <div class="detail-intro__content">
        <div class="detail-intro__wrapper">


            <div class="detail-intro__links">
                <a href="#" class="detail-intro__link active">
                    тихая
                </a>
                <span class="detail-intro__divider">
                    |
                </span>
                <a href="#" class="detail-intro__link">
                    дивная
                </a>
            </div>
            <div class="detail-intro__btns">
                <a href="#callback-modal" class="detail-intro__book-btn">
                    Забронировать
                </a>
                <a href="#" class="detail-intro__programs-link">
                    Программы
                </a>
            </div>
        </div>
        <img src="/images/tihaya.svg" alt="" class="detail-intro__image">
        <div class="detail-intro__text detail-intro__text--tihaya">
            Пространство чистой эстетики и гармонии, где можно скрыться от шумного мира и суеты. Здесь сквозь тёплый
            обволакивающий пар пробираются медитативные звуки глюкофона, а тишина хвойного леса создаёт ощущение
            уединённости.
        </div>
    </div>
</section>