<section class="tihaya-included">
    <div class="tihaya-included__content">
        <div class="tihaya-included__image-container">

            <picture>
                <source srcset="/images/tihaya-included-mobile.webp" media="(max-width: 576px)">
                <source srcset="/images/tihaya-included-tablet.webp" media="(max-width: 768px)">
                <img src="/images/tihaya-included.webp" alt="">
            </picture>
        </div>
        <ul class="tihaya-included__list">
            <li class="tihaya-included__list-item">
                <div class="tihaya-included__card">
                    <div class="tihaya-included__card-title">
                        Пользование всеми локациями комплекса
                    </div>
                    <div class="tihaya-included__card-text">
                        Глиняная коллективная парная, хамам, купель с ледяной водой и ароматный чан с видом на хвойный
                        лес.
                    </div>
                </div>
            </li>
            <li class="tihaya-included__list-item">
                <div class="tihaya-included__card">
                    <div class="tihaya-included__card-title">
                        Банные принадлежности
                    </div>
                    <div class="tihaya-included__card-text">
                        Халат, полотенца и простыни из натурального льна, тапочки и наши уникальные шапки.
                    </div>
                </div>
            </li>
            <li class="tihaya-included__list-item">
                <div class="tihaya-included__card">
                    <div class="tihaya-included__card-title">
                        Органические средства по уходу за лицом, телом и волосами
                    </div>
                    <div class="tihaya-included__card-text">
                        от бренда 22|11 cosmetics.
                    </div>
                </div>
            </li>
        </ul>
        <img src="/images/tihaya-included-pattern.svg" alt="" class="tihaya-included__pattern">
        <h2 class="tihaya-included__heading">
            <span class="large">В стоимость</span>
            <span class="medium">
                каждой программы
            </span>
            <span class="orange">
                включено
            </span>
        </h2>
    </div>
</section>