<section class="detail-programs">
    <div class="detail-programs__content">
        <div class="tabs-nav detail-programs__nav">
            <button class="tabs-nav__select-btn">
                <span class="tabs-nav__select-btn-text">
                    Эгоист+
                </span>
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="7" viewBox="0 0 12 7">
                    <path
                        d="M6.07617 6.99805L6 6.92187L5.92383 6.99805L0.501956 1.57617L2.0752 0.00195313L6 3.92578L9.92481 0.00195313L11.498 1.57617L6.07617 6.99805Z" />
                </svg>
            </button>
            <div class="tabs-nav__select-dropdown">
                <div class="tabs-nav__select-dropdown-inner">
                    <div class="tabs-nav__select-scroll-wrapper">
                        <ul class="tabs-nav__list">
                            <li class="tabs-nav__list-item">
                                <a href="#egois-plus" class="tabs-nav__link">
                                    Эгоист +
                                </a>
                            </li>
                            <li class="tabs-nav__list-item">
                                <a href="#egoist" class="tabs-nav__link">
                                    Эгоист
                                </a>
                            </li>
                            <li class="tabs-nav__list-item">
                                <a href="#gurman" class="tabs-nav__link">
                                    Гурман
                                </a>
                            </li>
                            <li class="tabs-nav__list-item">
                                <a href="#gedonist" class="tabs-nav__link">
                                    Гедонист
                                </a>
                            </li>
                            <li class="tabs-nav__list-item">
                                <a href="#big-company" class="tabs-nav__link">
                                    Большая компания
                                </a>
                            </li>
                            <li class="tabs-nav__list-item">
                                <a href="#night-egoist-plus" class="tabs-nav__link">
                                    Ночной эгоист +
                                </a>
                            </li>
                            <li class="tabs-nav__list-item">
                                <a href="#night-egoist" class="tabs-nav__link">
                                    Ночной эгоист
                                </a>
                            </li>
                            <li class="tabs-nav__list-item">
                                <a href="#female-circle" class="tabs-nav__link">
                                    Женский круг
                                </a>
                            </li>
                            <li class="tabs-nav__list-item">
                                <a href="#talk-clear" class="tabs-nav__link">
                                    Поговорим на чистоту
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <ul class="detail-programs__list">

            <li class="detail-programs__list-item" id="egoist-plus">
                <div class="detail-programs__card">
                    <div class="detail-programs__card-left">
                        <div class="detail-programs__card-top-row">
                            <div class="detail-programs__card-tag">
                                Индивидуальная программа
                            </div>
                            <div class="detail-programs__card-price-wrapper">
                                <div class="detail-programs__card-price-row">
                                    <div class="detail-programs__card-price">
                                        90 000 ₽
                                    </div>
                                    <div class="detail-programs__card-units">
                                        / 2 чел.
                                    </div>
                                </div>
                                <div class="detail-programs__card-price-remark">
                                    135 000 ₽ / 3 чел.
                                </div>

                            </div>
                        </div>
                        <h3 class="detail-programs__card-title">
                            Эгоист <span>+</span>
                        </h3>
                        <div class="detail-programs__card-text">
                            Для тех, кто не приемлет полумер. Кто точно знает, что достоин самого лучшего и на меньшее
                            не
                            согласен. Побыть в центре внимания и ощутить, что всё вокруг лишь для вас двоих.
                            Индивидуальный подход, персональная забота о комфорте и внимание к деталям. Возможность
                            побыть вдвоем, разделив чувства и впечатления.
                        </div>
                        <div class="detail-programs__card-btns">
                            <a href="#callback-modal" class="detail-programs__card-book-btn">
                                Забронировать
                            </a>
                            <a href="#" class="detail-programs__card-more-btn">
                                Подробнее
                            </a>
                        </div>
                    </div>
                    <div class="detail-programs__card-right">
                        <img src="/images/divnaya-programs/2.webp" alt="" class="detail-programs__card-image">
                        <div class="detail-programs__card-mobile-label">
                            Индивидуальная программа
                        </div>
                    </div>
                </div>
            </li>
            <li class="detail-programs__list-item" id="egoist">
                <div class="detail-programs__card">
                    <div class="detail-programs__card-left">
                        <div class="detail-programs__card-top-row">
                            <div class="detail-programs__card-tag">
                                Индивидуальная программа
                            </div>
                            <div class="detail-programs__card-price-wrapper">
                                <div class="detail-programs__card-price-row">
                                    <div class="detail-programs__card-price">
                                        70 000 ₽
                                    </div>
                                    <div class="detail-programs__card-units">
                                        / 2 чел.
                                    </div>
                                </div>
                                <div class="detail-programs__card-price-remark">
                                    105 000 ₽ / 3 чел.
                                </div>

                            </div>
                        </div>
                        <h3 class="detail-programs__card-title">
                            Эгоист
                        </h3>
                        <div class="detail-programs__card-text">
                            Эгоист не торопится и не спешит — он наслаждается моментом, выбирая самое лучшее. В эти
                            мгновения весь банный мир Соломы принадлежит только вам двоим. Побыть в центре внимания и
                            ощутить, что всё вокруг лишь для вас двоих. Индивидуальный подход, персональная забота о
                            комфорте и внимание к деталям. Возможность побыть вдвоем, разделив чувства и впечатления.
                        </div>
                        <div class="detail-programs__card-btns">
                            <a href="#callback-modal" class="detail-programs__card-book-btn">
                                Забронировать
                            </a>
                            <a href="#" class="detail-programs__card-more-btn">
                                Подробнее
                            </a>
                        </div>
                    </div>
                    <div class="detail-programs__card-right">
                        <img src="/images/divnaya-programs/3.webp" alt="" class="detail-programs__card-image">
                        <div class="detail-programs__card-mobile-label">
                            Индивидуальная программа
                        </div>
                    </div>
                </div>
            </li>
            <li class="detail-programs__list-item" id="gurman">
                <div class="detail-programs__card">
                    <div class="detail-programs__card-left">
                        <div class="detail-programs__card-top-row">
                            <div class="detail-programs__card-tag">
                                Индивидуальная программа
                            </div>
                            <div class="detail-programs__card-price-wrapper">
                                <div class="detail-programs__card-price-row">
                                    <div class="detail-programs__card-price">
                                        30 000 ₽
                                    </div>
                                    <div class="detail-programs__card-units">
                                        / чел.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3 class="detail-programs__card-title">
                            ГУРМАН
                        </h3>
                        <div class="detail-programs__card-text">
                            Тот, чьему вкусу можно позавидовать. Идеальное сочетание уходовых процедур, парения под
                            звукотерапию и умиротворяющей обстановки соснового леса — то, перед чем невозможно устоять
                            даже самому требовательному гурману.
                        </div>
                        <div class="detail-programs__card-btns">
                            <a href="#callback-modal" class="detail-programs__card-book-btn">
                                Забронировать
                            </a>
                            <a href="#" class="detail-programs__card-more-btn">
                                Подробнее
                            </a>
                        </div>
                    </div>
                    <div class="detail-programs__card-right">
                        <img src="/images/divnaya-programs/4.webp" alt="" class="detail-programs__card-image">
                        <div class="detail-programs__card-mobile-label">
                            Индивидуальная программа
                        </div>
                    </div>
                </div>
            </li>
            <li class="detail-programs__list-item" id="gedonist">
                <div class="detail-programs__card">
                    <div class="detail-programs__card-left">
                        <div class="detail-programs__card-top-row">
                            <div class="detail-programs__card-tag">
                                Индивидуальная программа
                            </div>
                            <div class="detail-programs__card-price-wrapper">
                                <div class="detail-programs__card-price-row">
                                    <div class="detail-programs__card-price">
                                        40 000 ₽
                                    </div>
                                    <div class="detail-programs__card-units">
                                        / чел.
                                    </div>
                                </div>

                            </div>
                        </div>
                        <h3 class="detail-programs__card-title">
                            ГЕДОНИСТ
                        </h3>
                        <div class="detail-programs__card-text">
                            Тот, кто привык получать удовольствие. Полное погружение в мир наслаждения: жар парной,
                            обволакивающие ароматы трав и истинное гастрономическое удовольствие. Всё, чтобы пробудить
                            вашего внутреннего гедониста.
                        </div>
                        <div class="detail-programs__card-btns">
                            <a href="#callback-modal" class="detail-programs__card-book-btn">
                                Забронировать
                            </a>
                            <a href="#" class="detail-programs__card-more-btn">
                                Подробнее
                            </a>
                        </div>
                    </div>
                    <div class="detail-programs__card-right">
                        <img src="/images/divnaya-programs/5.webp" alt="" class="detail-programs__card-image">
                        <div class="detail-programs__card-mobile-label">
                            Индивидуальная программа
                        </div>
                    </div>
                </div>
            </li>
            <li class="detail-programs__list-item" id="big-company">
                <div class="detail-programs__card">
                    <div class="detail-programs__card-left">
                        <div class="detail-programs__card-top-row">
                            <div class="detail-programs__card-tag">
                                Индивидуальная программа
                            </div>
                            <div class="detail-programs__card-price-wrapper">
                                <div class="detail-programs__card-price-row">
                                    <div class="detail-programs__card-price">
                                        23 000 ₽
                                    </div>
                                    <div class="detail-programs__card-units">
                                        / чел.
                                    </div>
                                </div>

                            </div>
                        </div>
                        <h3 class="detail-programs__card-title">
                            БОЛЬШАЯ&nbsp;КОМПАНИЯ
                        </h3>
                        <div class="detail-programs__card-text">
                            Когда рядом близкие, удовольствие становится ярче. Всё пространство Соломы — только для вас
                            и вашей компании, чтобы насладиться ароматерапией и горячим касанием дубовых веников
                        </div>
                        <div class="detail-programs__card-btns">
                            <a href="#callback-modal" class="detail-programs__card-book-btn">
                                Забронировать
                            </a>
                            <a href="#" class="detail-programs__card-more-btn">
                                Подробнее
                            </a>
                        </div>
                    </div>
                    <div class="detail-programs__card-right">
                        <img src="/images/divnaya-programs/8.webp" alt="" class="detail-programs__card-image">
                        <div class="detail-programs__card-mobile-label">
                            Индивидуальная программа
                        </div>
                    </div>
                </div>
            </li>
            <li class="detail-programs__list-item" id="night-egoist-plus">
                <div class="detail-programs__card">
                    <div class="detail-programs__card-left">
                        <div class="detail-programs__card-top-row">
                            <div class="detail-programs__card-tag">
                                Индивидуальная программа
                            </div>
                            <div class="detail-programs__card-price-wrapper">
                                <div class="detail-programs__card-price-row">
                                    <div class="detail-programs__card-price">
                                        80 000 ₽
                                    </div>
                                    <div class="detail-programs__card-units">
                                        / 2 чел.
                                    </div>
                                </div>
                                <div class="detail-programs__card-price-remark">
                                    120 000 ₽ / 3 чел.
                                </div>
                            </div>
                        </div>
                        <h3 class="detail-programs__card-title">
                            ночной Эгоист
                            <span>
                                +
                            </span>
                        </h3>
                        <div class="detail-programs__card-text">
                            Для тех, кто не привык отказывать себе и стремится к максимальному комфорту во всех сферах
                            жизни и в любое время суток.
                        </div>
                        <div class="detail-programs__card-btns">
                            <a href="#callback-modal" class="detail-programs__card-book-btn">
                                Забронировать
                            </a>
                            <a href="#" class="detail-programs__card-more-btn">
                                Подробнее
                            </a>
                        </div>
                    </div>
                    <div class="detail-programs__card-right">
                        <img src="/images/divnaya-programs/6.webp" alt="" class="detail-programs__card-image">
                        <div class="detail-programs__card-mobile-label">
                            Индивидуальная программа
                        </div>
                    </div>
                </div>
            </li>
            <li class="detail-programs__list-item" id="night-egoist">
                <div class="detail-programs__card">
                    <div class="detail-programs__card-left">
                        <div class="detail-programs__card-top-row">
                            <div class="detail-programs__card-tag">
                                Индивидуальная программа
                            </div>
                            <div class="detail-programs__card-price-wrapper">
                                <div class="detail-programs__card-price-row">
                                    <div class="detail-programs__card-price">
                                        60 000 ₽
                                    </div>
                                    <div class="detail-programs__card-units">
                                        / 2 чел.
                                    </div>
                                </div>
                                <div class="detail-programs__card-price-remark">
                                    90 000 ₽ / 3 чел.
                                </div>
                            </div>
                        </div>
                        <h3 class="detail-programs__card-title">
                            ночной Эгоист
                        </h3>
                        <div class="detail-programs__card-text">
                            Для тех, кто не привык отказывать себе и стремится к максимальному комфорту во всех сферах
                            жизни и в любое время суток.
                        </div>
                        <div class="detail-programs__card-btns">
                            <a href="#callback-modal" class="detail-programs__card-book-btn">
                                Забронировать
                            </a>
                            <a href="#" class="detail-programs__card-more-btn">
                                Подробнее
                            </a>
                        </div>
                    </div>
                    <div class="detail-programs__card-right">
                        <img src="/images/divnaya-programs/7.webp" alt="" class="detail-programs__card-image">
                        <div class="detail-programs__card-mobile-label">
                            Индивидуальная программа
                        </div>
                    </div>
                </div>
            </li>
            <li class="detail-programs__list-item" id="female-circle">
                <div class="detail-programs__card">
                    <div class="detail-programs__card-left">
                        <div class="detail-programs__card-top-row">
                            <div class="detail-programs__card-tag">
                                Общественный женский день
                            </div>
                            <div class="detail-programs__card-price-wrapper">
                                <div class="detail-programs__card-price-row">
                                    <div class="detail-programs__card-price">
                                        15 000 ₽
                                    </div>
                                    <div class="detail-programs__card-units">
                                        чел.
                                    </div>
                                </div>

                            </div>
                        </div>
                        <h3 class="detail-programs__card-title">
                            ДЕВИЧИЙ ПАР
                        </h3>
                        <div class="detail-programs__card-text">
                            Женский день — это ритуал тепла, эстетики и новых встреч. Идеальная возможность для
                            знакомства с теми, кто чувствует и воспринимает мир так же, как вы
                        </div>
                        <div class="detail-programs__card-btns">
                            <a href="#callback-modal" class="detail-programs__card-book-btn">
                                Забронировать
                            </a>
                            <a href="#" class="detail-programs__card-more-btn">
                                Подробнее
                            </a>
                        </div>
                    </div>
                    <div class="detail-programs__card-right">
                        <img src="/images/divnaya-programs/9.webp" alt="" class="detail-programs__card-image">
                        <div class="detail-programs__card-mobile-label">
                            Общественный женский день
                        </div>
                    </div>
                </div>
            </li>
            <li class="detail-programs__list-item" id="female-circle">
                <div class="detail-programs__card">
                    <div class="detail-programs__card-left">
                        <div class="detail-programs__card-top-row">
                            <div class="detail-programs__card-tag">
                                Общественный женский день
                            </div>
                            <div class="detail-programs__card-price-wrapper">
                                <div class="detail-programs__card-price-row">
                                    <div class="detail-programs__card-price">
                                        25 000 ₽
                                    </div>
                                    <div class="detail-programs__card-units">
                                        чел.
                                    </div>
                                </div>

                            </div>
                        </div>
                        <h3 class="detail-programs__card-title">
                            ПОГОВОРИМ НАЧИСТОТУ
                        </h3>
                        <div class="detail-programs__card-text">
                            Пространство для глубоких разговоров. Здесь вы не только отдыхаете, но и становитесь частью
                            откровенной беседы с приглашённым экспертом.
                        </div>
                        <div class="detail-programs__card-btns">
                            <a href="#callback-modal" class="detail-programs__card-book-btn">
                                Забронировать
                            </a>
                            <a href="#" class="detail-programs__card-more-btn">
                                Подробнее
                            </a>
                        </div>
                    </div>
                    <div class="detail-programs__card-right">
                        <img src="/images/divnaya-programs/10.webp" alt="" class="detail-programs__card-image">
                        <div class="detail-programs__card-mobile-label">
                            Общественный женский день
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>