<section class="detail-gallery js-detail-gallery">

    <div class="detail-gallery__content">
        <h2 class="detail-gallery__heading">
            галерея
        </h2>
        <div class="detail-gallery__slider">
            <div class="detail-gallery__slider-mobile-wrappers">
                <div class="detail-gallery__slider-mobile-wrapper detail-gallery__slider-mobile-wrapper--tihaya">
                    <div class="detail-gallery__slider-mobile-wrapper-inner">

                    </div>
                </div>
                <div class="detail-gallery__slider-mobile-wrapper detail-gallery__slider-mobile-wrapper--tihaya">
                    <div class="detail-gallery__slider-mobile-wrapper-inner">

                    </div>
                </div>
            </div>
            <picture>

                <source srcset="/images/tihaya-gallery-bg-tablet.svg" media="(max-width: 768px)">
                <img src="/images/tihaya-gallery-bg.svg" alt="" class="detail-gallery__bg-image">
            </picture>
            <button class="detail-gallery__arrow detail-gallery__arrow--prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="18" viewBox="0 0 12 18">
                    <path
                        d="M-0.000488281 8.82422L0.123535 8.94727L-0.000488281 9.07129L8.82471 17.8955L11.3862 15.334L5.00049 8.94727L11.3862 2.56152L8.82471 0L-0.000488281 8.82422Z" />
                </svg>
            </button>
            <div class="detail-gallery__slider-wrapper">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="/images/tihaya-gallery/1.webp" class="detail-gallery__slider-card"
                                data-fancybox="gallery">
                                <picture>
                                    <source srcset="/images/tihaya-gallery/1-mobile.webp" media="(max-width: 576px)">
                                    <source srcset="/images/tihaya-gallery/1-tablet.webp" media="(max-width: 768px)">
                                    <img src="/images/tihaya-gallery/1.webp" alt=""
                                        class="detail-gallery__slider-card-image">
                                </picture>
                            </a>
                            <a href="/images/tihaya-gallery/2.webp" class="detail-gallery__slider-card"
                                data-fancybox="gallery">
                                <img src="/images/tihaya-gallery/2.webp" alt=""
                                    class="detail-gallery__slider-card-image">
                            </a>
                            <a href="/images/tihaya-gallery/3.webp" class="detail-gallery__slider-card"
                                data-fancybox="gallery">
                                <img src="/images/tihaya-gallery/3.webp" alt=""
                                    class="detail-gallery__slider-card-image">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="/images/tihaya-gallery/1.webp" class="detail-gallery__slider-card"
                                data-fancybox="gallery">
                                <picture>
                                    <source srcset="/images/tihaya-gallery/1-mobile.webp" media="(max-width: 576px)">
                                    <source srcset="/images/tihaya-gallery/1-tablet.webp" media="(max-width: 768px)">
                                    <img src="/images/tihaya-gallery/1.webp" alt=""
                                        class="detail-gallery__slider-card-image">
                                </picture>
                            </a>
                            <a href="/images/tihaya-gallery/2.webp" class="detail-gallery__slider-card"
                                data-fancybox="gallery">
                                <img src="/images/tihaya-gallery/2.webp" alt=""
                                    class="detail-gallery__slider-card-image">
                            </a>
                            <a href="/images/tihaya-gallery/3.webp" class="detail-gallery__slider-card"
                                data-fancybox="gallery">
                                <img src="/images/tihaya-gallery/3.webp" alt=""
                                    class="detail-gallery__slider-card-image">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="/images/tihaya-gallery/1.webp" class="detail-gallery__slider-card"
                                data-fancybox="gallery">
                                <picture>
                                    <source srcset="/images/tihaya-gallery/1-mobile.webp" media="(max-width: 576px)">
                                    <source srcset="/images/tihaya-gallery/1-tablet.webp" media="(max-width: 768px)">
                                    <img src="/images/tihaya-gallery/1.webp" alt=""
                                        class="detail-gallery__slider-card-image">
                                </picture>
                            </a>
                            <a href="/images/tihaya-gallery/2.webp" class="detail-gallery__slider-card"
                                data-fancybox="gallery">
                                <img src="/images/tihaya-gallery/2.webp" alt=""
                                    class="detail-gallery__slider-card-image">
                            </a>
                            <a href="/images/tihaya-gallery/3.webp" class="detail-gallery__slider-card"
                                data-fancybox="gallery">
                                <img src="/images/tihaya-gallery/3.webp" alt=""
                                    class="detail-gallery__slider-card-image">
                            </a>
                        </div>

                    </div>
                </div>
            </div>
            <button class="detail-gallery__arrow detail-gallery__arrow--next">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="18" viewBox="0 0 12 18">
                    <path
                        d="M12.0005 8.82422L11.8765 8.94727L12.0005 9.07129L3.17529 17.8955L0.61377 15.334L6.99951 8.94727L0.61377 2.56152L3.17529 0L12.0005 8.82422Z" />
                </svg>
            </button>
        </div>
        <div class="detail-gallery__pagination">

        </div>
    </div>
</section>