<section class="variants">
    <picture>
        <source srcset="/images/variants-decor-mobile.svg" media="(max-width: 576px)">
        <source srcset="/images/variants-decor-tablet.svg" media="(max-width: 768px)">
        <img src="/images/variants-decor.svg" alt="" class="variants__decor-image">
    </picture>
    <div class="variants__content">
        <div class="variants__items">
            <div class="variants__item">
                <div class="variants__card">
                    <div class="variants__card-bg">
                        <img src="/images/variants/1.webp" alt="" class="variants__card-bg-image">
                    </div>
                    <div class="variants__card-content">
                        <div class="variants__card-tag">
                            <span class="variants__card-tag-text">
                                Эксклюзив
                            </span>
                            <span class="variants__card-tag-icon">
                                <img src="/images/tag-icon.svg" alt="" class="variants__card-tag-icon-image">
                            </span>
                        </div>
                        <div class="variants__card-text-content">
                            <h3 class="variants__card-title">
                                Сила пара
                            </h3>
                            <div class="variants__card-text">
                                закрытый мужской клуб
                            </div>
                            <a href="#" class="variants__card-link">
                                Подробнее
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="variants__separator">
                <picture>
                    <source srcset="/images/variants-separator-mobile.svg" media="(max-width: 576px)" />
                    <img src="/images/variants-separator.svg" alt="" class="variants__separator-image" />
                </picture>
            </div>
            <div class="variants__item">
                <div class="variants__card">
                    <div class="variants__card-bg">
                        <img src="/images/variants/2.webp" alt="" class="variants__card-bg-image">
                    </div>
                    <div class="variants__card-content">
                        <div class="variants__card-tag">
                            <span class="variants__card-tag-text">
                                Эксклюзив
                            </span>
                            <span class="variants__card-tag-icon">
                                <img src="/images/tag-icon.svg" alt="" class="variants__card-tag-icon-image">
                            </span>
                        </div>
                        <div class="variants__card-text-content">
                            <h3 class="variants__card-title">
                                чистосердечное
                            </h3>
                            <div class="variants__card-text">
                                закрытОЕ БАННОЕ кОМЬЮНИТИ
                            </div>
                            <a href="#" class="variants__card-link">
                                Подробнее
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="variants__slogan">
            <div class="variants__slogan-top">
                Закрытый
            </div>
            <div class="variants__slogan-left">
                банный клуб
            </div>
            <div class="variants__slogan-arrow">
                <div class="variants__slogan-arrow-inner">

                </div>
            </div>
            <div class="variants__slogan-right">
                СОЛОМА
            </div>

        </div>
    </div>
</section>