<section class="watch">
    <div class="watch__bg">
        <picture>
            <source srcset="/images/watch/mobile.webp" media="(max-width: 576px)">
            <source srcset="/images/watch/tablet.webp" media="(max-width: 768px)">
            <img src="/images/watch/desktop.webp" alt="" class="watch__bg-image">
        </picture>
    </div>
    <div class="watch__content">
        <div class="watch__text">
            Погрузитесь в обволакивающий пар, насыщенный аромат свежих веников и спокойствие,которое дарит каждый уголок
            Соломы.
        </div>
        <div class="watch__middle">
            <img src="/images/watch/left-decor.svg" alt="" class="watch__decor">
            <a href="/videos/compressed_1.mp4" class="watch__link" data-fancybox="">
                <img src="/images/watch/play-bg.webp" alt="" class="watch__link-bg">
                <div class="watch__link-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="71" viewBox="0 0 64 71">
                        <path
                            d="M51.9022 23.5474C58.6242 27.429 61.9852 29.3698 63.1132 31.9036C64.0971 34.1136 64.0971 36.6373 63.1132 38.8473C61.9852 41.3811 58.6242 43.3219 51.9022 47.2035L20.8066 65.1599C14.083 69.0424 10.7212 70.9837 7.9626 70.6939C5.55641 70.4411 3.37049 69.1792 1.94834 67.2219C0.317886 64.9778 0.317886 61.0958 0.317886 53.3318V17.4191C0.317886 9.65506 0.317886 5.77304 1.94834 3.52902C3.37049 1.57169 5.55641 0.309765 7.9626 0.0569972C10.7212 -0.232794 14.083 1.70848 20.8066 5.59103L51.9022 23.5474Z" />
                    </svg>
                </div>
            </a>
            <img src="/images/watch/right-decor.svg" alt="" class="watch__decor">
        </div>

        <h2 class="watch__heading">
            лучше один<br> раз увидеть
        </h2>
    </div>
</section>