<section class="club-intro">
    <div class="club-intro__bg">

        <picture>
            <source srcset="/images/womens-club/bg-mobile.webp" media="(max-width: 576px)">
            <source srcset="/images/womens-club/bg-tablet.webp" media="(max-width: 768px)">
            <img src="/images/womens-club/bg.webp" alt="" class="club-intro__bg-image">
        </picture>
    </div>
    <div class="club-intro__content">
        <div class="club-intro__image-wrapper">
            <picture>
                <source srcset="/images/womens-club/illustration-mobile.webp" media="(max-width: 576px)">
                <source srcset="/images/womens-club/illustration-tablet.webp" media="(max-width: 768px)">
                <img src="/images/womens-club/illustration.webp" alt="" class="club-intro__illustration-image">
            </picture>
        </div>
        <div class="club-intro__text-content">
            <div class="club-intro__title-wrapper">
                <h1 class="club-intro__main-title club-intro__main-title--tablet-small">
                    чисто<br>сердечное
                </h1>
                <div class="club-intro__text">
                    закрытое банное комьюнити для тех, кто чувствует и воспринимает мир так же, как вы
                </div>
            </div>
            <a href="#" class="club-intro__link">
                Подробнее
            </a>
        </div>
    </div>
</section>