<section class="what-you-get">
    <div class="what-you-get__content">
        <div class="what-you-get__wrapper">
            <div class="what-you-get__text-content">
                <h2 class="what-you-get__heading">
                    <span>
                        Что получают
                    </span>
                    <span>
                        участницы
                    </span>
                    <span>
                        клуба
                    </span>
                </h2>
                <ul class="what-you-get__list">
                    <li class="what-you-get__list-item">
                        <div class="what-you-get__card">
                            <img src="/images/mens-get/1.svg" alt="" class="what-you-get__card-icon">
                            Ранний доступ к бронированию новых услуг
                        </div>
                    </li>
                    <li class="what-you-get__list-item">
                        <div class="what-you-get__card">
                            <img src="/images/mens-get/2.svg" alt="" class="what-you-get__card-icon">
                            Скидка 3 000 ₽ на программу «Поговорим начистоту»
                        </div>
                    </li>
                    <li class="what-you-get__list-item">
                        <div class="what-you-get__card">
                            <img src="/images/mens-get/3.svg" alt="" class="what-you-get__card-icon">
                            Доступ к закрытому Telegram-каналу
                        </div>
                    </li>
                    <li class="what-you-get__list-item">
                        <div class="what-you-get__card">
                            <img src="/images/mens-get/4.svg" alt="" class="what-you-get__card-icon">
                            Бонусы от партнеров Соломы
                        </div>
                    </li>
                    <li class="what-you-get__list-item">
                        <div class="what-you-get__card">
                            <img src="/images/mens-get/5.svg" alt="" class="what-you-get__card-icon">
                            Доступ к закрытым мероприятиям и дегустации новых блюд
                        </div>
                    </li>
                    <li class="what-you-get__list-item">
                        <div class="what-you-get__card">
                            <img src="/images/mens-get/6.svg" alt="" class="what-you-get__card-icon">
                            Розыгрыш ценных подарков
                        </div>
                    </li>
                </ul>
            </div>
            <div class="what-you-get__image-wrapper">
                <img src="/images/what-you-get.webp" alt="" class="what-you-get__image">
            </div>
        </div>
    </div>
</section>