<section class="in-circle">
    <div class="in-circle__bg">
        <picture>
            <source srcset="/images/womens-circle/bg-mobile.webp" media="(max-width: 576px)">
            <source srcset="/images/womens-circle/bg-tablet.webp" media="(max-width: 768px)">
            <img src="/images/womens-circle/bg.webp" alt="" class="in-circle__bg-image">
        </picture>
    </div>
    <div class="in-circle__content">
        <div class="in-circle__text-content">

            <div class="in-circle__text in-circle__text--limited-width">
                <p>
                    Уютное пространство, где можно наслаждаться каждым моментом. Делиться переживаниямии находить
                    поддержку. Наполняться лёгкостью и просто быть в гармонии с собой.
                </p>
                <p>
                    Мягкий пар, тёплая атмосфераи душевные разговоры — всё, что делает отдых
                    по-настоящему женским.
                </p>
            </div>
        </div>
    </div>
</section>