@use "utils";
@use "media";

.detail-gallery {
  @include utils.blockWrapper;
  margin-bottom: 9.4rem;

  @include media.breakpoint(small-tablet) {
    margin-bottom: 23.6rem;
  }

  @include media.breakpoint(mobile) {
    margin-bottom: 12rem;
  }
}

.detail-gallery__content {
  @include utils.blockContent;
  display: flex;
  flex-direction: column;
}

.detail-gallery__heading {
  font-size: 5.1484rem;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -0.1545rem;
  font-family: var(--literature);
  text-transform: uppercase;
  margin-bottom: 5rem;
  padding-left: 3rem;
  position: relative;
  z-index: 6;

  @include media.breakpoint(small-tablet) {
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: -0.126rem;
    text-transform: uppercase;
    margin-bottom: 2.4rem;
    padding-left: 0;
  }

  @include media.breakpoint(mobile) {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: -0.054rem;
    text-transform: uppercase;
    margin-bottom: 1.8rem;
  }
}

.detail-gallery__slider {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  gap: 5.5rem;
  @include media.breakpoint(small-tablet) {
    display: block;
  }
  &::before {
    content: "";
    width: calc(50% - 3rem * 2 / 3);
    aspect-ratio: 796 / 155;
    filter: blur(150px);
    top: 50%;
    transform: translateY(-50%);
    border-radius: 80rem;
    left: 0;
    position: absolute;
    z-index: -1;
    background: #de5737;
    @include media.breakpoint(small-tablet) {
      display: none;
    }
  }
}

.detail-gallery__slider-wrapper {
  width: 30%;
  flex-grow: 1;

  @include media.breakpoint(small-tablet) {
    width: auto;
    flex-grow: 0;
  }

  .swiper-slide {
    height: auto;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: minmax(0, 85fr) repeat(2, minmax(0, 35fr));
    grid-gap: 3rem;
    min-height: 45rem;
    margin-right: 3rem;
    &:last-child {
      margin-right: 0;
    }

    @include media.breakpoint(small-tablet) {
      min-height: 61rem;
      grid-template-columns: minmax(0, 46.5fr) minmax(0, 29fr);
      grid-template-rows: 1fr 1fr;
      grid-auto-flow: dense;
      grid-gap: 2rem;
      grid-row-gap: 3rem;
      margin-right: 2rem;
    }

    @include media.breakpoint(mobile) {
      all: revert;
      box-sizing: border-box;
      display: contents;
    }
  }

  .swiper {
    @include media.breakpoint(mobile) {
      overflow: visible;
      margin: 0 calc(-1 * var(--content-padding));
      padding: 0 var(--content-padding);
      -webkit-overflow-scrolling: touch;
      overflow-y: hidden;
      width: auto;
      @include utils.noScrollbar;
    }
  }

  .swiper-wrapper {
    @include media.breakpoint(mobile) {
      all: revert;
      box-sizing: border-box;
      display: grid;
      grid-auto-flow: column;
      grid-template-rows: 1fr 1fr;
      grid-gap: 2rem;
      width: max-content;
      flex-shrink: 0;
      flex-wrap: wrap;
    }
  }

  @include media.breakpoint(mobile) {
    display: none;
  }
}

.detail-gallery__slider-card {
  position: relative;

  @include media.breakpoint(small-tablet) {
    &:first-child {
      grid-row: span 2;
    }
  }

  @include media.breakpoint(mobile) {
    all: revert;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    height: 17.5rem;
    width: 13rem;
    flex-shrink: 0;

    &:first-child {
      grid-row: span 1;
    }
  }
}

.detail-gallery__slider-card-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 3rem;

  @include media.breakpoint(small-tablet) {
    border-radius: 0 1.6412rem;
  }
}

.detail-gallery__bg-image {
  position: absolute;
  left: 50%;
  width: 100vw;
  max-width: none;
  top: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  z-index: -2;

  @include media.breakpoint(mobile) {
    display: none;
  }
}

.detail-gallery__arrow {
  flex-shrink: 0;
  display: grid;
  place-items: center;
  width: 4rem;
  height: 4rem;
  background: #de5737;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  transition: opacity 0.2s, box-shadow 0.2s;
  @include media.breakpoint(small-tablet) {
    display: none;
  }

  &.swiper-button-lock {
    opacity: 0;
  }

  &.swiper-button-disabled {
    opacity: 0.5;
    cursor: default;
  }

  &:not(.swiper-button-disabled) {
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        box-shadow: 0rem 1.6rem 3.52rem 0rem rgba(222, 87, 55, 0.3),
          0rem 0.5106rem 1.1233rem 0rem rgba(222, 87, 55, 0.09),
          0rem 0.1932rem 0.425rem 0rem rgba(222, 87, 55, 0.04),
          0rem 0.0637rem 0.1401rem 0rem rgba(222, 87, 55, 0.01);
      }
    }
  }

  svg {
    flex-shrink: 0;
    width: 1.2rem;
    height: 1.8rem;
    fill: white;
  }

  @include media.breakpoint(small-tablet) {
    display: none;
  }
}

.detail-gallery__pagination {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;

  @include media.breakpoint(small-tablet) {
    display: none;
  }

  .swiper-pagination-bullet {
    height: 0.5rem;
    width: 1rem;
    border-radius: 100rem;
    flex-shrink: 0;
    transition: background-color 0.2s, box-shadow 0.2s, width 0.2s;
    background-color: #fff;
    cursor: pointer;
    &.swiper-pagination-bullet-active {
      width: 5rem;
      background: #de5737;
      box-shadow: 0 0 1.2366rem 0 #de5737;
      cursor: default;
    }
  }
}

.detail-gallery__slider-mobile-wrappers {
  display: none;

  @include media.breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

.detail-gallery__slider-mobile-wrapper {
  @include media.breakpoint(mobile) {
    margin: 0 calc(-1 * var(--content-padding));
    padding: 0 var(--content-padding);
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;
    width: auto;
    position: relative;
    @include utils.noScrollbar;
    display: flex;
    height: 17.5rem;
    &:nth-child(1) {
      padding-left: calc(var(--content-padding) + 3rem);
      background-image: url("../images/pattern.svg");
      background-position: left -35% center;
      background-size: auto 100%;
      background-repeat: no-repeat;
    }
    &:nth-child(2) {
      padding-right: calc(var(--content-padding) + 5rem);
      direction: rtl;
      background-image: url("../images/pattern.svg");
      background-position: right -35% center;
      background-size: auto 100%;
      background-repeat: no-repeat;
    }

    &--tihaya {
      &:nth-child(1),
      &:nth-child(2) {
        background-image: url("../images/pattern-tihaya.svg");
      }
    }
  }
}

.detail-gallery__slider-mobile-wrapper-inner {
  display: flex;
  gap: 2rem;
  width: max-content;
  flex-shrink: 0;
}
